.btn {
  padding: 0 17px !important;
  height: 44px;
  line-height: 44px;
  font-size: 20px;
  color: #fff;
  border: none;
  border-radius: 3px;
  text-decoration: none!important;
}
.btn.btn-icon {
  display: flex !important;
  align-items: center;
}
.btn.btn-xs {
  font-size: 14px;
  height: 32px;
  line-height: 35px;
  padding: 0 16px !important;
  border-radius: 50px;
}
.btn.btn-xs-nicon {
  font-size: 14px;
  height: 32px;
  line-height: 31px;
  padding: 0 16px !important;
  border-radius: 3px;
}
.btn .fa,
.btn [class^="icon-"],
.btn [class*=" icon-"] {
  margin-right: 6px;
}
.btn.btn-primary {
  background-image: linear-gradient(to left, #1976d2, #1565c0);
  box-shadow: 0 1px 0 0 rgba(22, 29, 37, 0.1), inset 0 1px 0 1px rgba(255, 255, 255, 0.06);
  border: solid 1px #1565c0;
}
@media (min-width: 767px) {
  .btn.btn-primary {
    position: relative;
    overflow: hidden;
    z-index: 0;
  }
  .btn.btn-primary:before,
  .btn.btn-primary:after {
    content: "";
    width: 100%;
    height: 0;
    position: absolute;
    transition: .3s;
    z-index: -1;
    display: block !important;
  }
  .btn.btn-primary:before {
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    bottom: 0% !important;
  }
  .btn.btn-primary:after {
    background-color: rgba(0, 0, 0, 0.5);
    right: 0;
    top: 0%!important;
  }
  .btn.btn-primary:hover {
    color: #fff !important;
    /* &:before{
				bottom: 50%;
			}
			&:after{
				top: 50%;
			} */
  }
  .btn.btn-primary:hover:before,
  .btn.btn-primary:hover:after {
    height: 50%;
  }
}
.btn.btn-primary .icon-atom {
  font-size: 14px;
}
.btn.btn-primary .icon-atom .path1::before {
  color: transparent;
}
.btn.btn-primary .icon-atom .path2::before,
.btn.btn-primary .icon-atom .path3::before {
  color: #fff;
}
.btn.btn-default {
  color: #212b36;
  background-image: linear-gradient(to left, #ffffff, #f9fafb);
  box-shadow: 0 1px 0 0 rgba(22, 29, 37, 0.05);
  border: 1px solid #c4cdd5;
}
@media (min-width: 767px) {
  .btn.btn-default {
    position: relative;
    overflow: hidden;
    z-index: 0;
  }
  .btn.btn-default:before,
  .btn.btn-default:after {
    content: "";
    width: 100%;
    height: 0;
    position: absolute;
    transition: .3s;
    z-index: -1;
    display: block !important;
  }
  .btn.btn-default:before {
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    bottom: 0% !important;
  }
  .btn.btn-default:after {
    background-color: rgba(0, 0, 0, 0.5);
    right: 0;
    top: 0%!important;
  }
  .btn.btn-default:hover {
    color: #fff !important;
    /* &:before{
				bottom: 50%;
			}
			&:after{
				top: 50%;
			} */
  }
  .btn.btn-default:hover:before,
  .btn.btn-default:hover:after {
    height: 50%;
  }
}
.btn.btn-link {
  color: #1976d2;
}
.btn.btn-link:hover {
  text-decoration: underline !important;
}
.btn.btn-save {
  color: #212b36;
  cursor: default;
  padding-right: 0!important;
}
.btn.btn-save .icon-check-circle-08:before {
  color: #4caf50;
}
.btn.btn-save:hover {
  text-decoration: none !important;
}
.btn .icon-edit-file {
  font-size: 16px;
}
.btn .icon-edit-file .path1:before {
  color: transparent;
}
.btn .icon-edit-file .path2:before,
.btn .icon-edit-file .path3:before,
.btn .icon-edit-file .path4:before {
  color: #637381;
}
.btn:hover .icon-edit-file {
  font-size: 16px;
}
.btn:hover .icon-edit-file .path2:before,
.btn:hover .icon-edit-file .path3:before,
.btn:hover .icon-edit-file .path4:before {
  color: #fff;
}
.btn.btn-silver {
  background-image: linear-gradient(to bottom, #ffffff, #f9fafb);
  box-shadow: 0 1px 0 0 rgba(22, 29, 37, 0.05);
  border: solid 1px #c4cdd5;
  color: #637381;
}
.btn.btn-silver .fa:before {
  color: #637381;
}
.btn.btn-silver:hover .fa:before {
  color: #fff;
}
.btn.btn-pay-setup .icon-creditcard-hand {
  margin-right: 0;
}
.btn.btn-pay-setup .icon-creditcard-hand .path1::before {
  color: transparent;
}
.btn.btn-pay-setup .icon-creditcard-hand .path2::before {
  color: #fff;
}
.btn.disabled {
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: .4;
  pointer-events: none;
}
.box-button .btn-style {
  margin-bottom: 5px;
}
.box-button .btn-style:last-child {
  margin: 0;
}
.btn-style {
  height: 32px;
  border-radius: 3px;
  width: 114px;
  font-weight: 500;
  display: flex;
  align-items: center;
  padding-left: 16px;
  text-align: center;
  font-size: 14px;
  text-decoration: none !important;
}
.btn-style.w-34 {
  width: 134px;
}
.btn-style:hover {
  opacity: 0.6;
}
.btn-style i {
  display: inline-block;
  margin-right: 8px;
  font-size: 16px;
}
.btn-style.btn-apporve {
  border: solid 1px #4caf50;
  color: #4caf50;
}
.btn-style.btn-apporve i:before {
  color: #4caf50;
}
.btn-style.btn-apporve.btn-apporve-active {
  border: solid 1px #4caf50;
  background-color: #4caf50;
  color: #fff;
}
.btn-style.btn-apporve.btn-apporve-active i:before {
  color: #fff;
}
.btn-style.btn-decline {
  border: solid 1px #e53935;
  color: #e53935;
}
.btn-style.btn-decline i:before {
  color: #e53935;
}
.btn-style.btn-edit-request {
  border: solid 1px #617985;
  color: #617985;
}
.btn-style.btn-edit-request i.icon-edit-file .path1:before {
  color: transparent;
}
.btn-style.btn-edit-request i.icon-edit-file .path2:before,
.btn-style.btn-edit-request i.icon-edit-file .path3:before,
.btn-style.btn-edit-request i.icon-edit-file .path4:before {
  color: #617985;
}
.btn-style.disabled {
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: .4;
  pointer-events: none;
}
.btn-style.btn-center {
  padding: 0;
  text-align: center;
  display: block;
  line-height: 32px;
}
@media (min-width: 767px) {
  .btn-hover {
    position: relative;
    overflow: hidden;
    z-index: 0;
  }
  .btn-hover:before,
  .btn-hover:after {
    content: "";
    width: 100%;
    height: 0;
    position: absolute;
    transition: .3s;
    z-index: -1;
    display: block !important;
  }
  .btn-hover:before {
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    bottom: 0% !important;
  }
  .btn-hover:after {
    background-color: rgba(0, 0, 0, 0.5);
    right: 0;
    top: 0%!important;
  }
  .btn-hover:hover {
    color: #fff !important;
    /* &:before{
				bottom: 50%;
			}
			&:after{
				top: 50%;
			} */
  }
  .btn-hover:hover:before,
  .btn-hover:hover:after {
    height: 50%;
  }
}
.box-notification {
  position: absolute;
  top: 34px;
  right: 7px;
}
.box-notification .fa {
  font-size: 16px;
}
.box-notification .content-notification {
  font-size: 12px;
  color: #212b36;
  padding: 11px;
  min-width: 238px;
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 0 2px 16px 0 rgba(33, 43, 54, 0.08), 0 0 0 1px rgba(6, 44, 82, 0.1);
  position: absolute;
  right: -14px;
  top: 43px;
  z-index: 9;
  display: none;
}
.box-notification .content-notification:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  color: transparent;
  border: 10px solid #CCC;
  border-color: transparent transparent #FFF;
  margin-top: -20px;
  margin-left: 10px;
  position: absolute;
  top: 0;
  right: 10px;
}
.box-notification .content-notification:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  color: transparent;
  border: 10px solid #CCC;
  border-color: transparent transparent #838486;
  margin-top: -20px;
  margin-left: 10px;
  position: absolute;
  top: 0;
  right: 10px;
}
.box-notification:hover .content-notification {
  display: block;
}
.input-radio,
.input-checkbox {
  position: relative;
}
.input-radio label,
.input-checkbox label {
  margin-bottom: 0;
  padding-left: 30px;
  position: relative;
  font-size: 14px;
  font-weight: 300;
  color: #585858;
  cursor: pointer;
}
.input-radio label:before,
.input-checkbox label:before {
  content: '';
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  border: .1rem solid #ccc;
}
.input-radio label:after,
.input-checkbox label:after {
  content: "\f00c";
  font: normal normal normal 14px/1 FontAwesome;
  color: #1976d2;
  position: absolute;
  z-index: 7;
  top: 3px;
  left: 3px;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
}
.input-radio label:hover::after,
.input-checkbox label:hover::after {
  opacity: 0.3;
}
.input-radio input[type=radio],
.input-checkbox input[type=radio],
.input-radio input[type=checkbox],
.input-checkbox input[type=checkbox] {
  visibility: hidden;
  position: absolute;
  z-index: -1;
}
.input-radio input[type=radio]:checked + label:after,
.input-checkbox input[type=radio]:checked + label:after,
.input-radio input[type=checkbox]:checked + label:after,
.input-checkbox input[type=checkbox]:checked + label:after {
  opacity: 1;
}
.input-radio input[type=radio]:checked + label:before,
.input-checkbox input[type=radio]:checked + label:before,
.input-radio input[type=checkbox]:checked + label:before,
.input-checkbox input[type=checkbox]:checked + label:before {
  border-color: #1976d2;
}
.input-radio label:before {
  border-radius: 50%;
}
.input-radio label:after {
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #1976d2;
  top: 3px;
  left: 3px;
}
.input-radio.input-radio-style strong {
  display: block;
  color: #dfe4e8;
  font-size: 16px;
  margin-bottom: 6px;
}
.input-radio.input-radio-style .text-sub {
  display: block;
  color: #dfe4e8;
}
.input-radio.input-radio-style input[type=radio] {
  visibility: hidden;
  position: absolute;
  z-index: -1;
}
.input-radio.input-radio-style input[type=radio]:checked + label strong {
  color: #212b36;
}
.input-radio.input-radio-style input[type=radio]:checked + label .text-sub {
  color: #212b36;
}
.input-radio.input-radio-xs label {
  padding-left: 22px;
}
.input-radio.input-radio-xs label:before {
  width: 16px;
  height: 16px;
}
.input-radio.input-radio-xs label:after {
  width: 8px;
  height: 8px;
  top: 4px;
  left: 4px;
}
.input-checkbox.input-checkbox-xs label {
  padding-left: 22px;
}
.input-checkbox.input-checkbox-xs label:before {
  width: 16px;
  height: 16px;
}
.input-checkbox.input-checkbox-xs label:after {
  top: 2px;
  left: 2px;
  font-size: 12px;
}
.form-view .form-group {
  padding: 19px 19px 19px 0;
}
.form-view .form-group .control-label {
  font-size: 14px;
  font-weight: 600;
  color: #637381;
  text-transform: none;
  margin-bottom: 9px;
}
.form-view .form-group .control-text {
  display: block;
  font-size: 20px;
  color: #212b36;
}
.form-view .form-group .control-text a.view {
  font-size: 12px;
  font-weight: 600;
  color: #1976d2;
  padding-left: 8px;
}
.form-view .form-group .control-text.control-text-icon {
  position: relative;
  padding-left: 30px;
}
.form-view .form-group .control-text.control-text-icon .icon-dashboard {
  top: 1px;
  left: 0;
}
.form-view .form-group .control-text.font-14 {
  font-size: 14px;
}
.form-view .form-group a.control-text {
  color: #1976d2;
}
.form-view.form-view-50 .form-group {
  margin-bottom: 0;
}
.form-view.form-view-50 .style-border {
  border-right: 0;
  display: flex;
}
.form-view.form-view-50 .style-border .w-50:nth-child(even) {
  border-left: 2px dotted #c8ced5;
}
.form-view.form-view-50 .style-border .w-50:nth-child(even) .form-group {
  padding-left: 19px;
}
.form-view.form-view-border {
  border-radius: 3px;
  box-shadow: 0 0 0 1px #c4cdd5;
}
.form-view.form-view-border .form-group {
  padding: 19px;
}
.select-currency {
  overflow: hidden;
  border: solid 1px #c4cdd5;
  border-radius: 3px;
}
.select-currency select.form-control {
  width: 80px;
  border-radius: 3px 0 0 3px;
  background-color: #dfe4e8;
  box-shadow: 0 1px 0 0 rgba(22, 29, 37, 0.05);
  border-right: solid 1px #c4cdd5;
  float: left;
}
.select-currency input.form-control {
  border-radius: 0;
  border: none;
  box-shadow: none;
}
.select-currency input.form-control.disabled {
  background-color: #f9fafb;
  pointer-events: none;
}
