
.box-notifi-messages {
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	padding:20px;
	padding-right:50px;
	background-color: #eaf4fc;
	border:1px solid #1976d2;
	p {
		margin:0;
		font-size: 16px;
		color: #212b36;
		a {
			font-weight: 600;
			color: #1976d2;
		}
	}

	.icon-close-messages {
		position:absolute;
		top:50%;
		right:20px;
		margin-top:-10px;
		text-decoration:none;
		.icon-close-line {
			font-size:20px;
		}
	}
}

.box-notifi-v1 {
	border-radius: 3px;
	background-color: #ffffff;
	box-shadow: 0 1px 3px 0 rgba(63, 63, 68, 0.15), 0 0 0 2px #ffe082;
	padding:15px;
	padding-left:63px;
	position:relative;
	margin:32px 0;
	h4 {
		font-size: 16px;
		font-weight: 600;
		color: #212b36
	}
	p {
		font-size: 14px;
		font-weight: normal;
		color: #212b36;
		a {
			color:#1976d2;
		}
	}
	span.box-icon-alert {
		position: absolute;
		top: 18px;
		left: 15px;
		width:32px;
		height:32px;
		border-radius:100%;
		display:block;
		background-color: #ffe082;
		span {
			width:20px;
			height:20px;
			border-radius:100%;
			display:block;
			border:1px solid #f9a825;
			background-color:#fff;
			text-align:center;
			line-height:20px;
			color:#f9a825;
			margin: 6px;
			
		}
	}
	
}

.box-notifi-v2 {
	padding-left:50px;
	padding-right:23px;
	position:relative;
	min-height:32px;
	line-height:32px;
	h5 {
		font-size: 16px;
		font-weight: 600;
		color: #212b36;
		line-height:32px;
	}
	.remove  {
		position: absolute;
		top: 0px;
		right: 0px;
		text-decoration:none !important;
		&:hover {
			.icon-circle-bold-remove:before {
				color:red;
			}
		}
		
	}
	span.box-icon-alert {
		position: absolute;
		top: 0px;
		left: 0px;
		width:32px;
		height:32px;
		border-radius:100%;
		display:block;
		
		text-align:center;
		line-height:32px;
		
		&.icon-announcement {
			background-color: rgba(145, 158, 171, 0.5);
			
			.icon-announcement {
				font-size:17px;
				.path1:before {
					color:#fff;
				}
				.path2,
				.path3{
					&:before {
						color:#696b6d;
					}
				}
			}
		}
		&.icon-check-circle {
			background-color: #4caf50;
			.icon-check-circle-08 {
				border: 2px solid #087f23;
				border-radius: 100px;
				&:before {
					color:#fff;
				}
			}
		}
		&.icon-ban-box {
			background-color: rgba(229, 57, 53, 0.5);
			.icon-ban {
				background-color:#fff;
				border-radius: 100px;
				&:before {
					color:#ab000d;
				}
			}
		}
	}
}


.box-alert {
	font-size: 12px;
	color: #212b36;
	padding:16px;
	padding-left:48px;
	position:relative;
	background-color: #eff1f3;
	.icon-alert-circle-i {
		position:absolute;
		top:16px;
		left:16px;
		font-size:16px;
		&:before {
			color:#212b36;
		}
	}
	&.box-alert-xs {
		background-color:transparent;
		padding: 12px;
		padding-left: 19px;
		.icon-alert-circle-i {
			font-size:10px;
			top:16px;
			left:0px;
		}
	}
}


.box-popover {
	display:inline-block;
	position:relative;
	margin-left:5px;
	.fa {
		font-size:14px;
	}
	&:hover {
		.box-content-popover {
			display:block;
		}
	}
	.box-content-popover {
		display:none;
		position:absolute;
		top:50%;
		left:22px;
		transform: translateY(-50%);
		z-index:9;
		padding:15px;
		font-size:14px;
		font-weight: normal;
		border-radius: 3px;
		background-color: #fff;
		box-shadow: 0 1px 3px 0 rgba(63,63,68,0.15), 0 0 0 1px #dfe4e8;
		min-width:300px;
		
		&:before {
			content: '';
			display: block;
			width: 0;
			height: 0;
			color: transparent;
			border: 8px solid #ccc;
			border-color: transparent #aaacad transparent transparent;
			margin-top: -9px;
			margin-left: 10px;
			position: absolute;
			top: 50%;
			left: -27px;
		}
		&:after {
			content: '';
			display: block;
			width: 0;
			height: 0;
			color: transparent;
			border: 8px solid #ccc;
			border-color: transparent #fff transparent transparent;
			margin-top: -9px;
			margin-left: 10px;
			position: absolute;
			top: 50%;
			left: -26px;
		}
	}
}








