
@font-face {
  font-family: 'AvenirNext';
  src: url('../fonts/AvenirNext-DemiBold/AvenirNext-DemiBold.eot?#iefix') format('embedded-opentype'),  url('../fonts/AvenirNext-DemiBold/AvenirNext-DemiBold.woff') format('woff'), url('../fonts/AvenirNext-DemiBold/AvenirNext-DemiBold.ttf')  format('truetype'), url('../fonts/AvenirNext-DemiBold/AvenirNext-DemiBold.svg#AvenirNext-DemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNext';
  src: url('../fonts/AvenirNext-Medium/AvenirNext-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/AvenirNext-Medium/AvenirNext-Medium.woff') format('woff'), url('../fonts/AvenirNext-Medium/AvenirNext-Medium.ttf')  format('truetype'), url('../fonts/AvenirNext-Medium/AvenirNext-Medium.svg#AvenirNext-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNext';
  src: url('../fonts/AvenirNext-Regular/AvenirNext-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/AvenirNext-Regular/AvenirNext-Regular.woff') format('woff'), url('../fonts/AvenirNext-Regular/AvenirNext-Regular.ttf')  format('truetype'), url('../fonts/AvenirNext-Regular/AvenirNext-Regular.svg#AvenirNext-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}