

.header-background {
	background-color:#1976d2;
	min-height:80px;
}

.container-form {
	max-width:544px;
	margin:0 auto;
	padding-bottom:30px;
	@media(max-width: 550px){
		max-width:544px;
		margin:0 20px;
	}
	
	.box-form-header {
		margin: 45px 0 22px;
		.from-header-title {
			text-align:center;
			color: #212b36;
			font-weight: 600;
			font-size: 36px;
		} 
		p {
			font-size: 16px;
			color: #212b36;
			line-height: 20px;
			letter-spacing: normal;
			text-align: center;
			margin: 0;
		}
	}
	
	.login-container {
		border-radius: 3px;
		background-color: #ffffff;
		box-shadow: 0 1px 3px 0 rgba(63, 63, 68, 0.15), 0 0 0 1px #dfe4e8;	
		padding:28px 32px;
		
		.from-content-title {
			text-align:center;
			color: #212b36;
			font-weight: 600;
			font-size: 20px;
			margin-top:0;
		}
		
		.oe_login_form {
			max-width: initial;
			position: relative;
			margin: 0;
		}
	}
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
 color: #919eab;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #919eab;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #919eab;
}
:-moz-placeholder { /* Firefox 18- */
  color: #919eab;
}
.form-group {
	position: relative;
	.control-label {
		font-size: 14px;
		font-weight: 600;
		font-style: normal;
		font-stretch: normal;
		letter-spacing: normal;
		color: #212b36;
		text-transform: uppercase;
		line-height: 18px;
		margin-bottom: 7px;
		&.text-transform-none {
			text-transform:none;
		}
	}
	.form-control {
		border-radius: 3px;
		background-color: #ffffff;
		box-shadow: inset 0 1px 2px 0 rgba(102, 113, 123, 0.21), inset 0 0 0 1px rgba(102, 113, 123, 0.25);
		border:none;
		color: #212b36;
		
	}
	p {
		margin: 22px 0px;
		letter-spacing: normal;
		font-size: 14px;
		a {
			padding: 0px 5px;
			font-weight:600;
			color: #1976d2;
		}
		&.ml-auto {
			margin:0;
			margin-left:20px;
		}
	}
	&.error {
		.form-control{
			box-shadow: inset 0 1px 2px 0 rgb(24, 114, 206), inset 0 0 0 1px rgb(25, 116, 208);
		}
	}
	&.last {
		margin-bottom:0;
	}
	
	.text {
		display:block;
	}
}



.fy-password {
	display:block;
	font-size: 16px;
	font-weight: 600;
	text-align: center;
	color: #637381;
	margin-top:20px;
	text-decoration: underline;
	&:hover {
		text-decoration: none;
	}
}


.container-verifybusiness {
	padding-right: 15px;
    padding-left: 15px;
	max-width:1120px;
	margin:0 auto;
}

.title-verifybusiness {
	padding:34px 0;
	h3 {
		font-size: 36px;
		font-weight: 600;
		color: #212b36;
		margin-top:0;
	}
	p{
		font-size: 16px;
		color: #212b36;
		margin: 13px 0 0;
	}
}


.menu-vb-left {
	margin:0;
	padding:0;
	box-shadow: 0 1px 3px 0 rgba(63,63,68,0.15), 0 0 0 1px #dfe4e8;
	border-radius: 3px;
	overflow:hidden;
	
	li {
		list-style-type:none;
		border-bottom: 1px dotted #917eab;
		
		&:last-child {
			border:none;
		}
		
		a {
			display:block;
			text-decoration:none; 
			padding:24px;
			
			
			.box-icon-onboarding {
				float:left;
				margin-right: 15px;
				.fa {
					font-size:32px;
					color: #1976d2;
				}
			}
			
			[class^="icon-"], [class*=" icon-"] {
				font-size:32px;
				float: left;
				margin-right: 15px;
				
				
				
			}
			
			.box-text {
				overflow:hidden;
				h4 {
					font-size: 16px;
					font-weight: 600;
					color: #212b36;
					margin:0;
				}
				p {
					font-size: 12px;
					color: #212b36;
					margin:0;
				}
			}
			&.active,
			&:hover {
				background-color:#1976d2;
				
				.box-icon-onboarding {
					.fa {
						color:#fff;
					}
				}
				
				
				[class^="path"], [class*="path"] {
					&:before {
						color:#fff;
					}
				}
				.icon-certification {
					.path1 {
						&:before {
							color:transparent;
						}
					}
				}
				.icon-payment {
					.path1 ,
					.path2 {
						&:before {
							color:transparent;
						}
					}
				}
				.icon-logo {
					.path1 ,
					.path2 ,
					.path3 {
						&:before {
							color:transparent;
						}
					}
				}
				
				.box-text {
					
					h4,
					p {
						color: #fff;
					}
				}
				
			}
		}
	}
}


.container-vb {
	border-radius: 3px;
	background-color: #ffffff;
	box-shadow: 0 1px 3px 0 rgba(63, 63, 68, 0.15), 0 0 0 1px #dfe4e8;
	padding:32px;
	
	.titile-vb {
		font-size:20px;
		font-weight:600;
		color:#637381;
		line-height:28px;
		border-bottom:2px solid #c4cdd5;
		margin:0 0 20px 0;
		padding-bottom:10px;
	}
	.section-vb {
		margin-bottom:30px;
		&:last-child {
			margin-bottom:0;
			
		}
	}
	
	.note-upload {
		margin:0 0 10px 0;
	}
}

.box-upload {
	outline: 1px dashed #dfe4e8;
	min-height:280px;
	background-color:#FFF;
	display:flex;
    align-items: center;
	
	.box-upload-input {
		margin:0 auto;
		text-align: center;
		.icon-image {
			font-size:96px;
			
			.path3,
			.path4 {
				&:before {
					color:#c8cfd5;
				}
			}
			
		}
		.upload-text {
			position:relative;
			input.input-upload {
				position:absolute;
				width:100%;
				height:100%;
				opacity:0;
				cursor: pointer;
			}
			label {
				font-size: 16px;
				color: #919eab;
				font-weight: normal;
				span {
					color:#1976d2;
				}
			}
		}
		
	}
}

.box-continue {
	margin:20px 0;
	p {
		margin:0 10px 0 0;
		margin-left:auto;
	}
}




.box-another-upload {
	position:relative;
	input.input-upload {
		position:absolute;
		top:0;
		left:-102px;
		width:100%;
		height:100%;
		opacity:0;
		cursor:pointer;
	}
	a {
		font-size:14px;
		color:#1976d2;
		.fa {
			margin-right:5px;
			font-size:16px;
		}
	}
	&:hover {
		a {
			text-decoration: underline;
		}
	}
}
.remove-upload {
	margin-bottom:10px;
	a {
		font-size:14px;
		color:#e53935;
		.fa {
			margin-right:5px;
			font-size:16px;
		}
	}	
}

.fancybox-icon {
	
	position:relative;
	display:block;
	
	.background {
		opacity:0;
		position:absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;
		width:100%;
		height:100%;
		background-color:rgba(33, 43, 54, 0.25);
		text-align:center;
		.flex-box;
		.fa {
			color: #fff;
			font-size: 26px;
			margin: 0 auto;
			background-color: rgba(33, 43, 54, 0.15);
			padding: 11px;
			border-radius: 50%;
		}
	}
	
	&:before {
		content:'';
		
	}
	&:hover {
		.background {
			opacity:1;
		}
	}
	
	img {
		width:100%;
		height:auto;
	}
	
}

.submittedform {
	h3 {
		font-size:20px;
		color:#637381;
		margin:0 0 10px 0;
		
	}
	p {
		font-size:14px;
		color:#212b36;
		margin:0 0 10px 0;
		
		&.link-text {
			margin-bottom:0;
			a {
				color:#1976d2;
			}
		}
		
	}
	
}
.section-payments {
	margin:20px 0 0;
}
.bank-icon {
	font-size:90px;
	text-align:center;
	margin:10px 0;
	.icon-loop-82 {
		&:before {
			color: #1976d2;
		}
	}
}

.list-form-check {
	.input-checkbox {
		margin-bottom:15px;
	}
}




.card {
	border-radius: 3px;
	background-color: #ffffff;
	border: solid 1px #919eab;
	padding:16px;
	
	&.card-none-bolder {
		padding:0;
		border-radius: 0px;
		border:none;
	}
	
	.title {
		font-size: 14px;
		font-weight: 600;
		color: #637381;
		display:block;
		margin-bottom:8px;
	}
	.content {
		font-size: 20px;
		font-weight: 600;
		color: #212b36;
		display:block;
	}
	&.card-active {
		border:none;
		background-color: #eff1f3;
	}
	
	&.card-grey {
		border-top:3px solid #637381;
	}
	&.card-mid-green {
		border-top:3px solid #4caf50;
	}
	&.card-tomato {
		border-top:3px solid #e53935;
	}
}


.box-info-times {
	padding-left:32px;
	position:relative;
	i {
		position:absolute;
		top:0;
		left:0;
		font-size:16px;
		transform: rotate(90deg);
		&:before {
			color: #1565c0;
		}
	}
	h5 {
		margin:0;
		font-size: 16px;
		font-weight: 600;
		color: #212b36;
		margin-bottom:8px;
		&:hover {
			color: #1565c0;
			span {
				color: #212b36;
			}
		}
		
		span {
			font-size: 14px;
			font-weight: normal;
			color: #212b36;
			border-radius: 100px;
			background-color: #dfe3e8;
			margin-left:5px;
			padding:0 5px;
		}
	}
	p {
		color: #212b36;
		margin:0;
	}
}

.box-collapse {
	.line {
		margin-left: 32px;
	}
	
	[data-toggle="collapse"] {
		cursor:pointer;	
	}
	
	.collapsed {
		i {
			transform: rotate(0deg);
			&:before {
				color: #212b36;
			}
		}
	}
}

.select-money {
	width:85px;
	border-radius: 3px;
	background-color: #dfe4e8;
	border: solid 1px #c4cdd5;
}

.list-item-tiems {
	margin:0;
	padding:0;
	margin-left: 7px;
	
	
	li {
		list-style-type:none;
		font-size: 14px;
		font-weight: 600;
		color: #637381;
		padding-bottom:16px;
		padding-left:24px;
		position:relative;
		
		&:last-child{
			margin:0;
			&::before {
				display:none;
			}
		}
		
		&::after {
			position:absolute;
			top: 6px;
			left: 0px;
			content:"";
			width: 8px;
			height: 8px;
			border-radius: 4px;
			background-color: #c4cdd5;
		}
		&::before {
			position:absolute;
			top: 10px;
			left: 4px;
			content:"";
			width: 1px;
			height: 100%;
			border-left: 1px dotted #c8ced5;
		}
		
		.view {
			font-size: 14px;
			font-weight: normal;
			color: #1976d2;
			display:block;
			margin-top:5px;
			.fa {
				margin-right:6px;
			}
		}
		.chart {
			font-size: 14px;
			font-weight: normal;
			color: #637381;
			padding-left:20px;	
			position:relative;
			margin:0;
			margin-top:5px;
			i {
				position:absolute;
				top:3px;
				left:0;
			}
		}
	}
}

.box-receipts {
	.fancybox-icon {
		.icon-check-circle-08 {
			position:absolute;
			top:10px;
			right:10px;
			font-size:24px;
			border:2px solid #fff;
			border-radius:100px;
			background-color:#fff;
			&:before {
				color:#4caf50;
			}
			&.icon-times-circle {
				transform: rotate(45deg);
				&:before {
					color:#637381;
				}
			}
		}
		.background {
			opacity:1;
		}
	} 
	.name {
		margin-top:10px;
		font-size: 12px;
		font-weight: 600;
		color: #212b36;
	}
}
