
.header-container {
	padding:16px 32px;
	background-color:#fff;
	border-bottom:1px solid #dfe4e8;
}
.view-dashboard-grid {
	a {
		text-decoration:none;
		margin-right:28px;
		i {
			font-size:12px;
			&.icon-grid-48 {
				font-size:11px;
			}
			&::before {
				color:#919eab;
			}
		}
		&.active,
		&:hover {
			i {
				&::before {
					color:#1976d2;
				}
			}
		}
	}
	.black-list {
		a {
			color: #637381;
			i {
				width: 32px;
				height: 32px;
				border-radius: 16px;
				background-color: #eff1f3;
				margin-right:10px;
				display: inline-block;
				line-height: 34px;
				text-align: center;

			}
		}
		
	}
	.quick-list {
		a {
			color: #637381;
			margin:0;
			i {
				margin-left:10px;
			}
		}
	}
}

.form-view {	
	&.form-view-50 {
		.form-group {
			margin-bottom:0;
		}
		.style-border-rnone {
			border-right:0;
			display:flex;
		}
		
	}
}

.style-border-rnone {
	border-bottom: 2px dotted #c8ced5;
	border-right: none;
}

.box-sort-view {
	.flex-box;
	
	.icon-sort {
		display:inline-block;
		a {
			text-decoration:none !important;
		}
		i {
			font-size:14px;
		}
	}
	
	.section {
		position:relative;
		padding:0 28px;
		&::before {
			content:"";
			position:absolute;
			top:0;
			left:0;
			width: 1px;
			height: 32px;
			background-color: #c4cdd5;
		}
		span {
			font-size: 14px;
			color: #637381;
			padding-right:8px;
		}
		select {
			width: 160px;
			height: 32px;
			border-radius: 3px;
			background-image: linear-gradient(to left, #ffffff, #f9fafb);
			box-shadow: 0 1px 0 0 rgba(22, 29, 37, 0.05);
			border: solid 1px #c4cdd5;
			font-size: 14px;
			color: #212b36;
		}
	}
}

.list-dashboard {
	margin:32px;
	margin-bottom:50px;
	box-shadow: 0 1px 3px 0 rgba(63, 63, 68, 0.15), 0 0 0 1px #dfe4e8;
	border-radius:5px;
	overflow:hidden;
	.item-dashboard {
		
		background-color:#fff;
		width:33.33%;
		float:left;
		.box-dh-border {
			padding:32px;
			border: solid 1px #c4cdd5;
			position:relative;
		}
	}
	.box-dh-user {
		text-align:center;
		.img-avatar {
			img {
				border-radius:50%;
				width:80px;
				height:80px;
			}
		}
		h3 {
			margin:16px 0;
			font-size: 20px;
			font-weight: 600;
			color: #212b36;
		}
		p {
			font-size: 12px;
			font-weight: 600;
			color: #1976d2;
			margin-bottom:16px;
			span {
				font-size: 12px;
				font-weight: normal;
				color: #212b36;
				height: 16px;
				border-radius: 100px;
				background-color: #ffea8a;
				padding:0 10px;
				margin-left:5px;
			}
		}
		ul {
			margin:0;
			padding:0;
			li {
				display: inline-block;
				list-style-type: none;
				padding:0 5px;
			}
		}
	}
	.box-dh-info {
		border-radius: 3px;
		background-color: #eff1f3;
		padding:16px;
		margin:20px 0;
		p {
			font-size: 14px;
			color: #212b36;
			&:last-child {
				margin:0;
			}
			strong {
				padding-right:5px;
			}
			a {
				color: #1976d2;
			}
		}
	}
	.box-dh-progress {
		.text-progress {
			.flex-box;
			margin-bottom:7px;
			span {
				font-size: 12px;
				color: #212b36;
			}
		}
		.progress {
			height: 8px;
			border-radius: 3px;
			background-color: #eff1f3;
			.progress-bar {
				background-color: #919eab;
			}
		}
	}
}

.number-dashboard {
	position:absolute;
	top:32px;
	right:32px;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	text-align:center;
	background-color:#fb8c00;
	color:#fff;
	line-height:25px;
}

.icon-dashboard {
	position:absolute;
	top:32px;
	left:32px;
	.circle-icon {
		width: 24px;
	    height: 24px;
	    border-radius: 50%;
	    border: 2px solid #1976d2;
		display:inline-block;
		position:relative;
		left:0;
		top:0;
		overflow:hidden;
		&:before {
			position:absolute;
			width: 100%;
			height: 100%;
			content:'';
			background-color:#90caf9;
			border-radius: 50%;
		}
		&.circle-icon-50 {
			&:before {
				width: 50%;
				height: 100%;
				border-radius: 50% 0 0 50%;
			}
		}
	}
	.circle-umbrella {
		width: 24px;
	    height: 24px;
	    border-radius: 50%;
	    border: 2px solid #c4cdd5;
		display:inline-block;
		position:relative;
		left:0;
		top:0;
		overflow:hidden;
		line-height:19px;
		i {
			margin:4px;
			font-size:12px;
		}
	}
}


.container-profile {
	padding:32px 0;
}


.user-profile {
	text-align:center;
	margin-bottom:30px;
	.img-avatar {
		a {
			display:inline-block;
			border-radius:100px;
			overflow:hidden;
			border:3px solid #d8d9da;
		}
		img {
			width: 160px;
			height: 160px;
			
		}
	}
	h3 {
		font-size: 28px;
		font-weight: 600;
		color: #212b36;
	}
	p {
		font-size: 16px;
		font-weight: 600;
		color: #1976d2;
		a {
			font-size: 16px;
			font-weight: 600;
			color: #1976d2;
		}
	}
}

.list-info-profile {
	margin:0;
	padding:0;
	width:100%; 
	li {
		list-style-type:none;
		a {
			.flex-box;
			padding:16px;
			border-radius: 3px;
			font-size: 16px;
			color: #212b36;
			text-decoration:none !important;
			i {
				font-size:13px;
				color:#212b36;
				margin-right:10px;
			}
			&.active,
			&:hover {
				font-weight: 600;
				color: #212b36;
				background-color: #f1f5f9;
			}
			span {
				width: 24px;
				height: 24px;
				border-radius: 50%;
				text-align: center;
				background-color: #fb8c00;
				color: #fff;
				line-height: 25px;
			}
		}
	}
	@media screen and (max-width: 767px) {
		position:static !important;
	}
}



.progress-style {
	height: 8px;
	border-radius: 3px;
	background-color: #eff1f3;
	.progress-bar {
		background-color: #004ba0;
		border-radius: 3px;
	}
}

.progress-allocate {
	height: 16px;
	border-radius: 3px;
	background-color: #eff1f3;
	.progress-bar {
		background-color: #004ba0;
		border-radius: 3px;
		&.pale-grey-two {
			background-color:#eff1f3;
		}
		&.light-blue {
			background-color:#90caf9;
		}
		&.peacock-blue {
			background-color:#004ba0;
		}
	}
}

.box-addnew {
	background-color:#004ba0;
	
	.title-addnew {
		font-size: 20px;
		font-weight: 600;
		color: #ffffff;
		margin:0;
		
		.icon-user-add {
			margin-right:5px;
			.path2:before,
			.path1:before{
				color:transparent;
			}
			.path3:before,
			.path4:before,
			.path5:before{
				color:#fff;
			}
		}
	}
	
}


.list-process {
	margin:0;
	padding:0;
	li {
		list-style-type:none;
		position:relative;
		padding-left: 50px;
		min-height:32px;
		line-height:32px;
		padding-bottom:15px;
		
		&:last-child {
			&::before {
				display:none;
			}
		}
		
		&::before {
			position: absolute;
			top: 10px;
			left: 15px;
			content: "";
			width: 1px;
			height: 100%;
			border-left: 2px dotted #c8ced5;
		}
		.box-icon {
			position:absolute;
			top:0;
			left:0;
			display:block;
			width:32px;
			height:32px;
			border-radius:50%;
			background-color:#fff;
			text-align:center;
			line-height:32px;
			
			.fa {
				color:#212b36;
				&.bluey-grey {
					color:#919eab;
				}
			}
			
			&.icon-check {
				.icon-check-circle-08 {
					&:before {
						color:#4caf50;
					}					
				
				}
			}
			
			&.icon-creditcard {
				.icon-creditcard-hand .path2:before {
					color: #919eab;
				}
			}
			
			&.icon-st {
				.icon-signature {
					.path2,
					.path3,
					.path4,
					.path5,
					.path6,
					.path7 {
						&:before {
							color: #919eab;
						}
					}
				}
			}
			
			.icon-circle {
				width: 14px;
				height: 14px;
				background-color: #c4cdd5;
				display:inline-block;
				border-radius:50%;
			}
			
			&.icon-active {
				background-color:#4caf50;
				.icon-check-circle-08 {
					&:before {
						color:#fff;
					}					
				
				}
			}
		}
		.text {
			font-size: 16px;
			color: #212b36;
			
			.bluey-grey {
				color: #919eab;
			}
			&.bluey-grey {
				color: #919eab;
			}
		}
	}
}

.box-style {
	padding:32px;
	border-radius: 3px;
	background-color: #ffffff;
	box-shadow: 0 1px 3px 0 rgba(63, 63, 68, 0.15), 0 0 0 1px #dfe4e8;
	
}

.style-text {
	margin:0;
	color: #1976d2;
	padding-left: 22px;
}

.container-payment {
	border-radius: 3px;
	
	background-color: #f9fafb;
	box-shadow: 0 1px 3px 0 rgba(63, 63, 68, 0.12), 0 0 0 1px rgba(63, 63, 68, 0.07);
}

.box-payment-details {
	
	padding:16px;
	
	.form-control {
		border-radius: 3px;
		background-color: #dfe4e8;
		border: solid 1px #c4cdd5;
		width:80px;
	}
}

.title-view {
	.flex-box;
	background-color: #637381;
	padding:16px;
	cursor: pointer;
	border-bottom:1px solid rgba(63, 63, 68, 0.53);
	h3 {
		margin:0;
		font-size: 16px;
		font-weight: 600;
		color: #ffffff;
	}
	
	i {
		font-size:16px;
		&:before {
			color:#fff;
			
		}
	}
	.icon-circle-down-40 {
		display:none;
	}
	&.collapsed {
		.icon-circle-down-40 {
			display:block;
		}
		.icon-circle-up-39 {
			display:none;
		}
	}
}
.content-view {
	padding:16px;
	.description {
		color: #212b36;
		margin-bottom:20px;
	}
	.item-list {
		display:flex;
		
		.item-left {
			padding-right:20px;
			h3 {
				margin:0;
				margin-bottom:7px;
				font-size: 16px;
				font-weight: 600;
				color: #212b36;
				&.font-20 {
					font-size:20px;
				}
			}
			p {
				font-size:12px;
				color: #212b36;
				margin:0;
			}
		}
		.item-right {
			p {
				font-size: 16px;
				font-weight: 600;
				color: #212b36;
				margin:0;
				&.font-20 {
					font-size:20px;
				}
			}
		}
	}
}

.user-name {
	margin-bottom:20px;
	a {
		font-size: 16px;
		font-weight: 600;
		color: #1976d2;
	}
}

.text-information {
	font-size: 16px;
	font-weight: 600;
	color: #212b36;
	max-width:80%;
}

.icon-information {
	.icon-check-circle-08 {
		font-size:20px;
		&:before {
			color:#4caf50
		}
	}
}

[data-toggle="collapse"] {
	cursor: pointer;
	&:hover {
		h3.title-section {
			color:#1976d2;
		}
	}
}

.collapsed {
	h3.title-section {
		.icon-circle-down-40 {
		transform: rotate(-90deg);
			&:before{
				color: #212b36;
			}
		}
	}
}

.text-confirm {
	font-size:16px;
	font-weight:600;
	margin:0;
	.fa-check {
		color:#1565c0;
	}
}

.box-currency {
	.flex-box;
	span {
		margin-right:10px;
	}
	.form-control {
		border-radius: 3px;
		background-color: #dfe4e8;
		border: solid 1px #c4cdd5;
		width: 80px;
	}
}

.box-private-insurance {
	.fa {
		font-size:70px;
	}
}

.modal-title {
    font-size: 23px;
	font-weight:600;
}

.box-info-user {
	.user-profile .img-avatar img {
		width:60px;
		height:60px;
	}
}

.box-leave-request {
	border-radius: 3px;
	background-color: #ffffff;
	box-shadow: 0 1px 3px 0 rgba(63, 63, 68, 0.15), 0 0 0 2px #ffe082;
	padding:15px;
	padding-left:63px;
	position:relative;
	display:flex;
	h4 {
		font-size: 16px;
		font-weight: 600;
		color: #212b36
	}
	p {
		font-size: 14px;
		font-weight: normal;
		color: #212b36;
		a {
			color:#1976d2;
		}
	}
	span.box-icon-alert {
		position: absolute;
		top: 18px;
		left: 15px;
		width:32px;
		height:32px;
		border-radius:100%;
		display:block;
		background-color: #ffe082;
		span {
			width:20px;
			height:20px;
			border-radius:100%;
			display:block;
			border:1px solid #f9a825;
			background-color:#fff;
			text-align:center;
			line-height:20px;
			color:#f9a825;
			margin: 6px;
			
		}
	}
	.section {
		flex-grow: 1;
	}
	
}




















@media screen and (max-width: 767px) {
	.form-view.form-view-50 {
		.style-border {
			display:block;
		}
		.w-50 {
			width:100%;
			border:none !important;
			
			.form-group {
				padding:10px !important;
				
				a.control-text {
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}
		}
	}
	
	.flex-box{
		&[data-toggle="collapse"] {
			display:block;
		
			h3.title-section {
				margin-bottom:14px;
			}
		}
		
	}
	
	.card {
		margin-bottom:20px;
		&:last-child {
			margin-bottom:0;
		}
	}
	
	.card.box-collapse {
		> .flex-box {
			display:block;
		}
		.box-info-times {
			margin-bottom:15px;
		}
	}
}

