

.header-topbar {
	min-height:80px;
	background-color: #eff1f3;
	
}


.header-employees-border {
	box-shadow: 0 2px 4px 0 rgba(87, 71, 81, 0.2);
}

.navbar-default {
	
	&.navbar-registration {
		min-height:80px;
		background-color: #1976d2;
		display: flex;
		align-items: center;
		
		.navbar-nav {
			li {
				a {
					color:#fff;
					&:before {
						background:#fff !important;
					}
					b {
						font-weight:normal;
					}
				}
			}
		}
	}
}

.notifi-number {
	position:absolute;
	top: 0px;
    right: -4px;
	width: 14px;
    height: 14px;
    border-radius: 50%;
	text-align:center;
	line-height:14px;
	background-color: #e53935;
	border:1px solid #fff;
	color:#fff;
	font-size:8px;
}

.box-flex-search {
	align-items: center;
    display: flex;
    height: 80px;
	float:none !important;
	width:100%;
	
	.dropdown-menu {
		border-radius:4px !important;
	}
	
	.dropdown-menu-right {
		
		right: -10px;
		left: auto;
		margin-top: 12px !important;
		
		
		&:after {
			content: '';
			display: block;
			width: 0;
			height: 0;
			color: transparent;
			border: 10px solid #CCC;
			border-color: transparent transparent #FFF;
			margin-top: -20px;
			margin-left: 10px;
			position: absolute;
			top: 0;
			right: 10px;
		}
		&:before {
			content: '';
			display: block;
			width: 0;
			height: 0;
			color: transparent;
			border: 10px solid #CCC;
			border-color: transparent transparent #111113;
			margin-top: -20px;
			margin-left: 10px;
			position: absolute;
			top: 0;
			right: 10px;
		}
	}
}

.box-search {
	
	width: 160px;
	height: 30px;
	border-radius: 3px;
	background-color: #ffffff;
	box-shadow: 0 1px 3px 0 rgba(63, 63, 68, 0.15), 0 0 0 1px #dfe4e8;
	display: flex;
    align-content: center;
	margin-left: auto;
	
	.fa {
		width: 16px;
		height: 16px;
		color: #637381;
		margin:7px 8px;
		
		font-family: 'icomoon' !important;
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		
		&.fa-search:before {
			content: "\ea0b";
			color: #919eab;
		}
		
	}	
	
	.input-search {
		font-size: 14px;
		color: #919eab;
		background:none transparent;
		border:none;
		width: 129px;
	}
}

.box-support {
	margin:0 15px;
	cursor: pointer;
	padding-top: 6px;
	.icon-support {
		.path2 {
			font-size:20px;
			&::before {
				color:#637381;
				margin-left:0;
			}
			&:hover {
				&::before {
					color:#1976d2;
				}
			}
		}		
	}
}
.box-notifi {
	margin:0 15px;
	cursor: pointer;
	padding-top: 6px;
	.icon-notification {
		.path2 {
			font-size:20px;
			&::before {
				color:#637381;
				margin-left:0;
			}
			&:hover {
				&::before {
					color:#1976d2;
				}
			}
		}		
	}
}
.box-guide {
	margin:0 5px;
	cursor: pointer;
	padding-top: 6px;
	.icon-guide {
		font-size:20px;
		[class^="path"], [class*="path"] {
			&:before {
				color:#637381;
			}
			
		}
		&:hover {
			[class^="path"], [class*="path"] {
				&:before {
					color:#1976d2;
				}
			}
		}
		.path1:before {
			color: transparent !important;
		}		
	}
}

.box-manager {
	margin:0 5px;
	cursor: pointer;
	.icon-manager {
		.path2 {
			font-size:32px;
			&::before {
				color:#637381;
				margin-left:0;
			}
			&:hover {
				&::before {
					color:#1976d2;
				}
			}
		}		
	}
}


.layout-page {
	
}

.header-employees {
	padding-left: 256px;
	position:fixed;
	width:100%;
	z-index:9;
	background-color:#fff;
	.header-topbar {
		background-color:#fff;
		margin:0 !important;
	}
	.container,
	.container-fluid {
		padding-right: 32px;
		padding-left: 32px;
		width:auto !important;
	}	
	.navbar-nav>li>a  {
		padding:0 !important;
		&:before {
			display:none!important;
		}
	}
}

.header-left {
	.navbar-header-left {
		.flex-box;
		.navbar-brand {
			font-size: 24px;
			color: #637381;
			padding-left:0;
		}
		.navbar-nav-header {
			margin:0;
			padding:0;
			li {
				display:inline-block;
				list-style-type:none;
			}
		}
		
		@media screen and (max-width: 767px) {
			display:none;
		}
		
	}
}


