@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/iconmoon/icomoon.eot?q7abg8');
  src:  url('../fonts/iconmoon/icomoon.eot?q7abg8#iefix') format('embedded-opentype'),
    url('../fonts/iconmoon/icomoon.ttf?q7abg8') format('truetype'),
    url('../fonts/iconmoon/icomoon.woff?q7abg8') format('woff'),
    url('../fonts/iconmoon/icomoon.svg?q7abg8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.icon-alert:before {
  content: "\e9c8";
  color: #919eab;
}
.icon-alert-circle-exc:before {
  content: "\e9c9";
  color: #919eab;
}
.icon-alert-circle-i:before {
  content: "\e9ca";
  color: #919eab;
}
.icon-alert-circle-que:before {
  content: "\e9cb";
  color: #919eab;
}
.icon-archive-3d-content:before {
  content: "\e9cc";
  color: #919eab;
}
.icon-ban:before {
  content: "\e9cd";
  color: #919eab;
}
.icon-bed-09:before {
  content: "\e9ce";
  color: #919eab;
}
.icon-bell-53:before {
  content: "\e9cf";
  color: #919eab;
}
.icon-bug:before {
  content: "\e9d0";
  color: #919eab;
}
.icon-calendar-grid-58:before {
  content: "\e9d1";
  color: #919eab;
}
.icon-chat-45:before {
  content: "\e9d2";
  color: #919eab;
}
.icon-chat-46:before {
  content: "\e9d3";
  color: #919eab;
}
.icon-check-circle-08:before {
  content: "\e9d4";
  color: #919eab;
}
.icon-check-square-11:before {
  content: "\e9d5";
  color: #919eab;
}
.icon-circle-add:before {
  content: "\e9d6";
  color: #919eab;
}
.icon-circle-bold-add:before {
  content: "\e9d7";
  color: #919eab;
}
.icon-circle-bold-remove:before {
  content: "\e9d8";
  color: #919eab;
}
.icon-circle-delete:before {
  content: "\e9d9";
  color: #919eab;
}
.icon-circle-down-40:before {
  content: "\e9da";
  color: #919eab;
}
.icon-circle-left-38:before {
  content: "\e9db";
  color: #919eab;
}
.icon-circle-right-37:before {
  content: "\e9dc";
  color: #919eab;
}
.icon-circle-up-39:before {
  content: "\e9dd";
  color: #919eab;
}
.icon-code:before {
  content: "\e9de";
  color: #919eab;
}
.icon-disk-2:before {
  content: "\e9df";
  color: #919eab;
}
.icon-email-83:before {
  content: "\e9e0";
  color: #919eab;
}
.icon-eye-17:before {
  content: "\e9e1";
  color: #919eab;
}
.icon-eye-19:before {
  content: "\e9e2";
  color: #919eab;
}
.icon-file-upload-86:before {
  content: "\e9e3";
  color: #919eab;
}
.icon-file-upload-86-2:before {
  content: "\e9e4";
  color: #919eab;
}
.icon-grid-48:before {
  content: "\e9e5";
  color: #919eab;
}
.icon-grid-50:before {
  content: "\e9e6";
  color: #919eab;
}
.icon-headphone:before {
  content: "\e9e7";
  color: #919eab;
}
.icon-link-2:before {
  content: "\e9e8";
  color: #919eab;
}
.icon-loop-82:before {
  content: "\e9e9";
  color: #919eab;
}
.icon-menu-bold:before {
  content: "\e9ea";
  color: #919eab;
}
.icon-menu-dots:before {
  content: "\e9eb";
  color: #919eab;
}
.icon-minimal-down:before {
  content: "\e9ec";
  color: #919eab;
}
.icon-minimal-left:before {
  content: "\e9ed";
  color: #919eab;
}
.icon-minimal-right:before {
  content: "\e9ee";
  color: #919eab;
}
.icon-minimal-up:before {
  content: "\e9ef";
  color: #919eab;
}
.icon-phone:before {
  content: "\e9f0";
  color: #919eab;
}
.icon-phone-2:before {
  content: "\e9f1";
  color: #919eab;
}
.icon-print:before {
  content: "\e9f2";
  color: #919eab;
}
.icon-receipt-list-42:before {
  content: "\e9f3";
  color: #919eab;
}
.icon-share-26:before {
  content: "\e9f4";
  color: #919eab;
}
.icon-simple-add:before {
  content: "\e9f5";
  color: #919eab;
}
.icon-simple-delete:before {
  content: "\e9f6";
  color: #919eab;
}
.icon-simple-remove:before {
  content: "\e9f7";
  color: #919eab;
}
.icon-single-content-03:before {
  content: "\e9f8";
  color: #919eab;
}
.icon-single-copy-04:before {
  content: "\e9f9";
  color: #919eab;
}
.icon-single-folded:before {
  content: "\e9fa";
  color: #919eab;
}
.icon-small-triangle-down:before {
  content: "\e9fb";
  color: #919eab;
}
.icon-small-triangle-left:before {
  content: "\e9fc";
  color: #919eab;
}
.icon-small-triangle-right:before {
  content: "\e9fd";
  color: #919eab;
}
.icon-small-triangle-up:before {
  content: "\e9fe";
  color: #919eab;
}
.icon-square-down:before {
  content: "\e9ff";
  color: #919eab;
}
.icon-square-left:before {
  content: "\ea00";
  color: #919eab;
}
.icon-square-right:before {
  content: "\ea01";
  color: #919eab;
}
.icon-square-up:before {
  content: "\ea02";
  color: #919eab;
}
.icon-swap-vertical:before {
  content: "\ea03";
  color: #919eab;
}
.icon-tail-down:before {
  content: "\ea04";
  color: #919eab;
}
.icon-tail-left:before {
  content: "\ea05";
  color: #919eab;
}
.icon-tail-right:before {
  content: "\ea06";
  color: #919eab;
}
.icon-tail-up:before {
  content: "\ea07";
  color: #919eab;
}
.icon-trash-simple:before {
  content: "\ea08";
  color: #919eab;
}
.icon-tv:before {
  content: "\ea09";
  color: #919eab;
}
.icon-umbrella-14:before {
  content: "\ea0a";
  color: #919eab;
}
.icon-zoom-bold:before {
  content: "\ea0b";
  color: #919eab;
}
.icon-zoom-bold-in:before {
  content: "\ea0c";
  color: #919eab;
}
.icon-zoom-bold-out:before {
  content: "\ea0d";
  color: #919eab;
}
.icon-announcement .path1:before {
  content: "\e900";
  color: rgb(241, 245, 249);
}
.icon-announcement .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-announcement .path3:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-atom .path1:before {
  content: "\e903";
  color: rgb(241, 245, 249);
}
.icon-atom .path2:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-atom .path3:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-attendance .path1:before {
  content: "\e906";
  color: rgb(241, 245, 249);
}
.icon-attendance .path2:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-attendance .path3:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-attendance .path4:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-attendance .path5:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-attendance .path6:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-attendance .path7:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-attendance .path8:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-attendance .path9:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-attendance .path10:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-attendance .path11:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-attendance .path12:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-calendar .path1:before {
  content: "\e912";
  color: rgb(241, 245, 249);
}
.icon-calendar .path2:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(241, 245, 249);
}
.icon-calendar .path3:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-calendar .path4:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-calendar .path5:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-calendar .path6:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-calendar .path7:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-calendar .path8:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-calendar .path9:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-calendar .path10:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-calendar .path11:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-calendar .path12:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-calendar .path13:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-calendar .path14:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-calendar .path15:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-calendar .path16:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-calendar .path17:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-calendar .path18:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-calendar .path19:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-calendar .path20:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-calendar .path21:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-certification .path1:before {
  content: "\e927";
  color: rgb(241, 245, 249);
}
.icon-certification .path2:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-certification .path3:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-certification .path4:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-certification .path5:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-certification .path6:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-certification .path7:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-certification .path8:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-certification .path9:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-certification .path10:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-close-filled .path1:before {
  content: "\e931";
  color: rgb(241, 241, 242);
}
.icon-close-filled .path2:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(241, 241, 242);
}
.icon-close-filled .path3:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-close-line .path1:before {
  content: "\e934";
  color: rgb(241, 241, 242);
}
.icon-close-line .path2:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(241, 241, 242);
}
.icon-close-line .path3:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-close-line .path4:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-creditcard-hand .path1:before {
  content: "\e938";
  color: rgb(241, 245, 249);
}
.icon-creditcard-hand .path2:before {
  content: "\e939";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-devices .path1:before {
  content: "\e93a";
  color: rgb(241, 245, 249);
}
.icon-devices .path2:before {
  content: "\e93b";
  margin-left: -1em;
  color: rgb(241, 245, 249);
}
.icon-devices .path3:before {
  content: "\e93c";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-devices .path4:before {
  content: "\e93d";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-devices .path5:before {
  content: "\e93e";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-devices .path6:before {
  content: "\e93f";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-devices .path7:before {
  content: "\e940";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-disable .path1:before {
  content: "\e941";
  color: rgb(241, 241, 242);
}
.icon-disable .path2:before {
  content: "\e942";
  margin-left: -1em;
  color: rgb(241, 241, 242);
}
.icon-disable .path3:before {
  content: "\e943";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-edit-file .path1:before {
  content: "\e944";
  color: rgb(241, 245, 249);
}
.icon-edit-file .path2:before {
  content: "\e945";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-edit-file .path3:before {
  content: "\e946";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-edit-file .path4:before {
  content: "\e947";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-employees-list .path1:before {
  content: "\e948";
  color: rgb(241, 241, 242);
}
.icon-employees-list .path2:before {
  content: "\e949";
  margin-left: -1em;
  color: rgb(241, 245, 249);
}
.icon-employees-list .path3:before {
  content: "\e94a";
  margin-left: -1em;
  color: rgb(241, 245, 249);
}
.icon-employees-list .path4:before {
  content: "\e94b";
  margin-left: -1em;
  color: rgb(241, 245, 249);
}
.icon-employees-list .path5:before {
  content: "\e94c";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-employees-list .path6:before {
  content: "\e94d";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-employees-list .path7:before {
  content: "\e94e";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-equipment .path1:before {
  content: "\e94f";
  color: rgb(241, 245, 249);
}
.icon-equipment .path2:before {
  content: "\e950";
  margin-left: -1em;
  color: rgb(241, 245, 249);
}
.icon-equipment .path3:before {
  content: "\e951";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-equipment .path4:before {
  content: "\e952";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-equipment .path5:before {
  content: "\e953";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-equipment .path6:before {
  content: "\e954";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-equipment .path7:before {
  content: "\e955";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-equipment .path8:before {
  content: "\e956";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-expenses .path1:before {
  content: "\e957";
  color: rgb(241, 245, 249);
}
.icon-expenses .path2:before {
  content: "\e958";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-expenses .path3:before {
  content: "\e959";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-guide .path1:before {
  content: "\e95a";
  color: rgb(241, 245, 249);
}
.icon-guide .path2:before {
  content: "\e95b";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-guide .path3:before {
  content: "\e95c";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-guide .path4:before {
  content: "\e95d";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-guide .path5:before {
  content: "\e95e";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-guide .path6:before {
  content: "\e95f";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-guide .path7:before {
  content: "\e960";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-guide .path8:before {
  content: "\e961";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-guide .path9:before {
  content: "\e962";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-guide .path10:before {
  content: "\e963";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-guide .path11:before {
  content: "\e964";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-guide .path12:before {
  content: "\e965";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-guide .path13:before {
  content: "\e966";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-guide .path14:before {
  content: "\e967";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-guide .path15:before {
  content: "\e968";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-guide .path16:before {
  content: "\e969";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-guide .path17:before {
  content: "\e96a";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-guide .path18:before {
  content: "\e96b";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-guide .path19:before {
  content: "\e96c";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-guide .path20:before {
  content: "\e96d";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-guide .path21:before {
  content: "\e96e";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-home .path1:before {
  content: "\e96f";
  color: rgb(241, 241, 242);
}
.icon-home .path2:before {
  content: "\e970";
  margin-left: -1em;
  color: rgb(241, 245, 249);
}
.icon-home .path3:before {
  content: "\e971";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-image .path1:before {
  content: "\e972";
  color: rgb(241, 245, 249);
}
.icon-image .path2:before {
  content: "\e973";
  margin-left: -1em;
  color: rgb(241, 245, 249);
}
.icon-image .path3:before {
  content: "\e974";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-image .path4:before {
  content: "\e975";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-invoice-history .path1:before {
  content: "\e976";
  color: rgb(241, 245, 249);
}
.icon-invoice-history .path2:before {
  content: "\e977";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-invoice-history .path3:before {
  content: "\e978";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-invoice-history .path4:before {
  content: "\e979";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-invoice-history .path5:before {
  content: "\e97a";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-invoice-history .path6:before {
  content: "\e97b";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-invoice-history .path7:before {
  content: "\e97c";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-invoice-history .path8:before {
  content: "\e97d";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-invoice-history .path9:before {
  content: "\e97e";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-invoice-history .path10:before {
  content: "\e97f";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-invoice-history .path11:before {
  content: "\e980";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-invoice-history .path12:before {
  content: "\e981";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-invoice-history .path13:before {
  content: "\e982";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-invoice-history .path14:before {
  content: "\e983";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-invoice-history .path15:before {
  content: "\e984";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-invoice-history .path16:before {
  content: "\e985";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-invoice-history .path17:before {
  content: "\e986";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-logo .path1:before {
  content: "\e987";
  color: rgb(241, 245, 249);
}
.icon-logo .path2:before {
  content: "\e988";
  margin-left: -1em;
  color: rgb(241, 245, 249);
}
.icon-logo .path3:before {
  content: "\e989";
  margin-left: -1em;
  color: rgb(241, 245, 249);
}
.icon-logo .path4:before {
  content: "\e98a";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-logo .path5:before {
  content: "\e98b";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-logo .path6:before {
  content: "\e98c";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-logo .path7:before {
  content: "\e98d";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-manager .path1:before {
  content: "\e98e";
  color: rgb(241, 245, 249);
}
.icon-manager .path2:before {
  content: "\e98f";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-messenger .path1:before {
  content: "\e990";
  color: rgb(241, 245, 249);
}
.icon-messenger .path2:before {
  content: "\e991";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-messenger .path3:before {
  content: "\e992";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-messenger .path4:before {
  content: "\e993";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-messenger .path5:before {
  content: "\e994";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-notification .path1:before {
  content: "\e995";
  color: rgb(241, 245, 249);
}
.icon-notification .path2:before {
  content: "\e996";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-overtime .path1:before {
  content: "\e997";
  color: rgb(241, 245, 249);
}
.icon-overtime .path2:before {
  content: "\e998";
  margin-left: -1em;
  color: rgb(241, 245, 249);
}
.icon-overtime .path3:before {
  content: "\e999";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-overtime .path4:before {
  content: "\e99a";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-payment .path1:before {
  content: "\e99b";
  color: rgb(241, 245, 249);
}
.icon-payment .path2:before {
  content: "\e99c";
  margin-left: -1em;
  color: rgb(241, 245, 249);
}
.icon-payment .path3:before {
  content: "\e99d";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-payment .path4:before {
  content: "\e99e";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-payment .path5:before {
  content: "\e99f";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-payment .path6:before {
  content: "\e9a0";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-payment .path7:before {
  content: "\e9a1";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-payment .path8:before {
  content: "\e9a2";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-payment .path9:before {
  content: "\e9a3";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-payment .path10:before {
  content: "\e9a4";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-profile-check .path1:before {
  content: "\e9a5";
  color: rgb(241, 245, 249);
}
.icon-profile-check .path2:before {
  content: "\e9a6";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-profile-check .path3:before {
  content: "\e9a7";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-profile-check .path4:before {
  content: "\e9a8";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-profile-check .path5:before {
  content: "\e9a9";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-profile-check .path6:before {
  content: "\e9aa";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-profile-check .path7:before {
  content: "\e9ab";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-recruitment .path1:before {
  content: "\e9ac";
  color: rgb(241, 241, 242);
}
.icon-recruitment .path2:before {
  content: "\e9ad";
  margin-left: -1em;
  color: rgb(241, 245, 249);
}
.icon-recruitment .path3:before {
  content: "\e9ae";
  margin-left: -1em;
  color: rgb(241, 245, 249);
}
.icon-recruitment .path4:before {
  content: "\e9af";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-recruitment .path5:before {
  content: "\e9b0";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-setting-gear .path1:before {
  content: "\e9b1";
  color: rgb(241, 245, 249);
}
.icon-setting-gear .path2:before {
  content: "\e9b2";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-setting-gear .path3:before {
  content: "\e9b3";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-signature .path1:before {
  content: "\e9b4";
  color: rgb(241, 245, 249);
}
.icon-signature .path2:before {
  content: "\e9b5";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-signature .path3:before {
  content: "\e9b6";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-signature .path4:before {
  content: "\e9b7";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-signature .path5:before {
  content: "\e9b8";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-signature .path6:before {
  content: "\e9b9";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-signature .path7:before {
  content: "\e9ba";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-star .path1:before {
  content: "\e9bb";
  color: rgb(241, 245, 249);
}
.icon-star .path2:before {
  content: "\e9bc";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-support .path1:before {
  content: "\e9bd";
  color: rgb(241, 245, 249);
}
.icon-support .path2:before {
  content: "\e9be";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-tutorial .path1:before {
  content: "\e9bf";
  color: rgb(241, 245, 249);
}
.icon-tutorial .path2:before {
  content: "\e9c0";
  margin-left: -1em;
  color: rgb(241, 245, 249);
}
.icon-tutorial .path3:before {
  content: "\e9c1";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-tutorial .path4:before {
  content: "\e9c2";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-user-add .path1:before {
  content: "\e9c3";
  color: rgb(241, 245, 249);
}
.icon-user-add .path2:before {
  content: "\e9c4";
  margin-left: -1em;
  color: rgb(241, 245, 249);
}
.icon-user-add .path3:before {
  content: "\e9c5";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-user-add .path4:before {
  content: "\e9c6";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
.icon-user-add .path5:before {
  content: "\e9c7";
  margin-left: -1em;
  color: rgb(25, 118, 210);
}
