
body {
	background-color: #f9fafb;
}
body,
h1, h2, h3, h4, h5, h6 {
	font-family: 'AvenirNext';
	font-weight: normal;
}

.flex-box {
	display:flex;
	align-items: center;
}
.inline-block {
	display:inline-block;
}
.ml-auto {
		margin-left:auto;
}

.box-show-menu {
	display:none;
	font-size: 22px;
	cursor: pointer;
	i {
		display: inline-block;
		margin-top: 5px;
	}
	&:hover {
		i {
			&::before {
				color:#1565c0;
			}
		}
	}
}

.layout-page {
	padding-left:256px;
	padding-top:80px;
	.container-fluid {
		padding-right: 32px;
		padding-left: 32px;
		
	}
}
.container-addnew {
	padding:32px 0;
}
.content-overlay {
	position:fixed;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background-color:rgba(0, 0, 0, 0.12);
	z-index:99;
	display:none;
	
	&.is-open {
		display:block;
	}
}
@media screen and (max-width: 1024px) { 
	.box-show-menu {
		display:block;
	}
	.header-employees,
	.layout-page {
		padding-left:0px;
	}
	.menu-left {
		left:-260px !important;
		&.is-open {
			left:0 !important;
		}
	}
	
	.list-info-profile {
		left:32px !important
	}
}


h2.title-page {
	color: #919eab;
	font-size: 28px;
	font-weight: 600;
	margin-bottom:16px;
	
	&.color-dark {
		color:#212b36;
	}
	&.font-20 {
		font-size:20px;
	}
}

h3.title-section {
	position:relative;
	font-size: 20px;
	font-weight: 600;
	color: #212b36;
	padding-left:30px;
	margin:0;
	i {
		position:absolute;
		left:0;
		top:0;
		font-size:20px;
		&.color-blue {
			&:before {
				color:#1976d2;	
			}
		}
		&.color-dark {
			&:before {
				color:#212b36;	
			}
		}
		
	}
}

.disabled {
	cursor: not-allowed;
	filter: alpha(opacity=65);
	-webkit-box-shadow: none;
	box-shadow: none;
	opacity: .4;
	pointer-events: none;
}

.title-style-vs1 {
	position:relative;
	font-size: 20px;
	font-weight: 600;
	color: #1976d2;
	padding-left:33px;
	margin:0;
	.icon-dashboard {
		top:-2px;
		left:0;
	}
}
.title-style {
	font-size: 14px;
	font-weight: 600;
	color: #637381;
	margin:0 0 10px;
	&.color-tomato {
		color:#e53935;
	}
	&.color-mid-green {
		color:#4caf50;
	}
	
}
.w-50 {
	width:50%;
}

.w-30 {
	width:30%;
}

.w-70 {
	width:70%;
}

.br-palegreytwo {
	background-color:#eff1f3;
}

.mt-17 {
	margin-top:17px;
}

.mb-0 {
	margin-bottom:0px!important;
}
.m-0 {
	margin:0px!important;
}
.mb-10 {
	margin-bottom:10px;
}
.mb-12 {
	margin-bottom:12px;
}
.mb-60 {
	margin-bottom:60px;
}
.mb-24 {
	margin-bottom:24px;
}
.mb-4 {
	margin-bottom:4px;
}
.mb-17 {
	margin-bottom:17px;
}
.mlr-32 {
	margin-left:-32px !important;
	margin-right:-32px !important;
}



.mt-20 {
	margin-top:20px;
	
}

.ml-8 {
	margin-left:8px;
}
.ml-32 {
	margin-left:32px;
}
.mr-20 {
	margin-right:20px;
}

.pb-0 {
	padding-bottom:0 !important;
}
.pb-10 {
	padding-bottom:10px !important;
}
.pt-10 {
	padding-top:10px !important;
}

.ptb-23 {
	padding-bottom:23px !important;
	padding-top:23px !important;
}
.overflow-hidden {
	overflow:hidden;
}

.font-16 {
	font-size:16px!important;
	font-weight:600!important;
	color: #212b36 !important;
}

.a-link {
	font-size:14px;
	font-weight:normal;
}


.position-relative {
	position:relative;
}

.font-20 {
	font-size:20px!important;
	font-weight:600!important;
	margin:0 !important;
	color: #212b36 !important;
}

hr.line {
	margin:20px 0;
	height:1px;
	background-color:#c8ced5;
	&.line-style {
		border:none;
		background-color:transparent;
		border-bottom: 2px dotted #c8ced5;
	}
	&.line-margin { 
		margin:5px 0 0;
	}
}

.style-border {
	border-bottom: 2px dotted #c8ced5;
	border-right: 2px dotted #c8ced5;
}
.style-border-bnone {
	border-bottom:none;
}
.box-section {
	padding:16px 32px;
	border-radius: 3px;
	background-color: #ffffff;
	box-shadow: 0 1px 3px 0 rgba(63, 63, 68, 0.15), 0 0 0 1px #dfe4e8;
	
	.progress-style {
		margin:15px -32px 10px;
	}
	
	&.box-section-padding {
		padding:32px;
	}
	&.box-section-none-padding {
		padding:0;
		border-radius: none;
		box-shadow:none;
	}
}

.overflow-hidden {
	overflow:hidden;
}