
.menu-left {
	transition: width 0.3s, left 0.3s;
    position: fixed;
    z-index: 400;
    width: 256px;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #eff1f3;
    box-shadow: inset 1px -7px 41px #e5e5e5;
    transform: translate3d(0, 0, 0);
	padding:25px 0px 50px 40px;
	
	.nav-sidebar-scroll {
		width:100%;
		height:100%;
		padding-right:30px;
		overflow:auto;
		.context-header {
			margin-bottom:32px;
			a {
				display:block;
				.avatar-container {
					width: 32px;
					height: 32px;
					background-color: #ffffff;
					border-radius:50%;
				}
			}
		}
		
		.sidebar-top-level-items {
			margin:0;
			padding:0;
			margin-left: 8px;
			li {
				list-style-type:none;
				margin-bottom:30px;
				a {
					display:flex;
					text-decoration:none !important;
					.nav-item-name {
						font-size: 14px;
						font-weight: 600;
						color: #161d25;
					}
					.nav-icon-container {
						margin-right:16px;
						
						[class^="icon-"], [class*="icon-"] { 
							font-size:16px;
						}
					}
					
					&.active,
					&:hover {
						.nav-item-name {
							color:#1976d2;
						}
						.icon-home {
							.path3 {
								&::before {
									color:#1976d2;
								}
							}
						}
						.icon-employees-list {
							.path5,
							.path6,
							.path7{
								&::before {
									color:#1976d2;
								}
							}
						}
						.icon-recruitment {
							.path4,
							.path5{
								&::before {
									color:#1976d2;
								}
							}
						}
						.icon-invoice-history {
							[class^="path"], [class*="path"] {
								&::before {
									color:#1976d2;
								}
							}
							.path1{
								&::before {
									color:transparent;
								}
							}
						}
						.icon-calendar {
							[class^="path"], [class*="path"] {
								&::before {
									color:#1976d2;
								}
							}
							.path1,
							.path2{
								&::before {
									color:transparent;
								}
							}
						}

						.icon-overtime {
							.path3,
							.path4{
								&::before {
									color:#1976d2;
								}
							}
						}
						.icon-expenses {
							.path2,
							.path3{
								&::before {
									color:#1976d2;
								}
							}
						}
						
					}
					
				}
				&.title-nav {
					margin-bottom:20px;
					span {
						font-size: 13px;
						font-weight: 600;
						color: #637381;
					}
				}
			}
		}
	}
}

.icon-home {
	.path3 {
		&::before {
			color:#919eab;
		}
	}
}
.icon-employees-list {
	.path5,
	.path6,
	.path7{
		&::before {
			color:#919eab;
		}
	}
}
.icon-recruitment {
	.path4,
	.path5{
		&::before {
			color:#919eab;
		}
	}
}
.icon-invoice-history {
	[class^="path"], [class*="path"] {
		&::before {
			color:#919eab;
		}
	}
	.path1{
		&::before {
			color:transparent;
		}
	}
}
.icon-calendar {
	[class^="path"], [class*="path"] {
		&::before {
			color:#919eab;
		}
	}
	.path1,
	.path2{
		&::before {
			color:transparent;
		}
	}
}

.icon-overtime {
	.path3,
	.path4{
		&::before {
			color:#919eab;
		}
	}
}
.icon-expenses {
	.path2,
	.path3{
		&::before {
			color:#919eab;
		}
	}
}

.box-settings {
	position: absolute;
    bottom: 15px;
    left: 50px;
	.dropdown-toggle {
		cursor: pointer;
		font-size: 14px;
		font-weight: 600;
		color: #161d25;
		.flex-box;
		.fa {
			color: #919eab;
			font-size:18px;
			margin-right:8px;
		}
	}
	a {
		display: flex;
		text-decoration: none !important;
		.nav-item-name {
			font-size: 14px;
			font-weight: 600;
			color: #161d25;
		}
		.nav-icon-container {
			margin-right:14px;
			
			.fa {
				font-size:16px;
				color: #919eab;
			}
		}
		
		&:hover {
			.nav-item-name {
				color:#1976d2;
			}
			.fa {
				color:#1976d2;
			}
		}
	}
}



