.form-view {	
	&.form-view-50 {
		.form-group {
			margin-bottom:0;
		}
		.style-border-rnone {
			border-right:0;
			display:flex;
		}
		
	}
}

.style-border-rnone {
	border-bottom: 2px dotted #c8ced5;
	border-right: none;
}

.btn-style {
	&.w-200 {
		width:200px; 
	}

	&.btn-warning {
		border: solid 1px #f0ad4e;
		color: #f0ad4e;
		i {
			&:before {
				color: #f0ad4e;
			}
		}
		&.btn-warning-active {
			border: solid 1px #f0ad4e;
			background-color:#f0ad4e;
			color: #fff;
			i {
				&:before {
					color: #fff;
				}
			}			
		}
	}
}