.form-view.form-view-50 .form-group {
  margin-bottom: 0;
}
.form-view.form-view-50 .style-border-rnone {
  border-right: 0;
  display: flex;
}
.style-border-rnone {
  border-bottom: 2px dotted #c8ced5;
  border-right: none;
}
.btn-style.w-200 {
  width: 200px;
}
.btn-style.btn-warning {
  border: solid 1px #f0ad4e;
  color: #f0ad4e;
}
.btn-style.btn-warning i:before {
  color: #f0ad4e;
}
.btn-style.btn-warning.btn-warning-active {
  border: solid 1px #f0ad4e;
  background-color: #f0ad4e;
  color: #fff;
}
.btn-style.btn-warning.btn-warning-active i:before {
  color: #fff;
}
