@font-face {
  font-family: 'AvenirNext';
  src: url('../fonts/AvenirNext-DemiBold/AvenirNext-DemiBold.eot?#iefix') format('embedded-opentype'), url('../fonts/AvenirNext-DemiBold/AvenirNext-DemiBold.woff') format('woff'), url('../fonts/AvenirNext-DemiBold/AvenirNext-DemiBold.ttf') format('truetype'), url('../fonts/AvenirNext-DemiBold/AvenirNext-DemiBold.svg#AvenirNext-DemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'AvenirNext';
  src: url('../fonts/AvenirNext-Medium/AvenirNext-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/AvenirNext-Medium/AvenirNext-Medium.woff') format('woff'), url('../fonts/AvenirNext-Medium/AvenirNext-Medium.ttf') format('truetype'), url('../fonts/AvenirNext-Medium/AvenirNext-Medium.svg#AvenirNext-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'AvenirNext';
  src: url('../fonts/AvenirNext-Regular/AvenirNext-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/AvenirNext-Regular/AvenirNext-Regular.woff') format('woff'), url('../fonts/AvenirNext-Regular/AvenirNext-Regular.ttf') format('truetype'), url('../fonts/AvenirNext-Regular/AvenirNext-Regular.svg#AvenirNext-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/iconmoon/icomoon.eot?q7abg8');
  src: url('../fonts/iconmoon/icomoon.eot?q7abg8#iefix') format('embedded-opentype'), url('../fonts/iconmoon/icomoon.ttf?q7abg8') format('truetype'), url('../fonts/iconmoon/icomoon.woff?q7abg8') format('woff'), url('../fonts/iconmoon/icomoon.svg?q7abg8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-alert:before {
  content: "\e9c8";
  color: #919eab;
}
.icon-alert-circle-exc:before {
  content: "\e9c9";
  color: #919eab;
}
.icon-alert-circle-i:before {
  content: "\e9ca";
  color: #919eab;
}
.icon-alert-circle-que:before {
  content: "\e9cb";
  color: #919eab;
}
.icon-archive-3d-content:before {
  content: "\e9cc";
  color: #919eab;
}
.icon-ban:before {
  content: "\e9cd";
  color: #919eab;
}
.icon-bed-09:before {
  content: "\e9ce";
  color: #919eab;
}
.icon-bell-53:before {
  content: "\e9cf";
  color: #919eab;
}
.icon-bug:before {
  content: "\e9d0";
  color: #919eab;
}
.icon-calendar-grid-58:before {
  content: "\e9d1";
  color: #919eab;
}
.icon-chat-45:before {
  content: "\e9d2";
  color: #919eab;
}
.icon-chat-46:before {
  content: "\e9d3";
  color: #919eab;
}
.icon-check-circle-08:before {
  content: "\e9d4";
  color: #919eab;
}
.icon-check-square-11:before {
  content: "\e9d5";
  color: #919eab;
}
.icon-circle-add:before {
  content: "\e9d6";
  color: #919eab;
}
.icon-circle-bold-add:before {
  content: "\e9d7";
  color: #919eab;
}
.icon-circle-bold-remove:before {
  content: "\e9d8";
  color: #919eab;
}
.icon-circle-delete:before {
  content: "\e9d9";
  color: #919eab;
}
.icon-circle-down-40:before {
  content: "\e9da";
  color: #919eab;
}
.icon-circle-left-38:before {
  content: "\e9db";
  color: #919eab;
}
.icon-circle-right-37:before {
  content: "\e9dc";
  color: #919eab;
}
.icon-circle-up-39:before {
  content: "\e9dd";
  color: #919eab;
}
.icon-code:before {
  content: "\e9de";
  color: #919eab;
}
.icon-disk-2:before {
  content: "\e9df";
  color: #919eab;
}
.icon-email-83:before {
  content: "\e9e0";
  color: #919eab;
}
.icon-eye-17:before {
  content: "\e9e1";
  color: #919eab;
}
.icon-eye-19:before {
  content: "\e9e2";
  color: #919eab;
}
.icon-file-upload-86:before {
  content: "\e9e3";
  color: #919eab;
}
.icon-file-upload-86-2:before {
  content: "\e9e4";
  color: #919eab;
}
.icon-grid-48:before {
  content: "\e9e5";
  color: #919eab;
}
.icon-grid-50:before {
  content: "\e9e6";
  color: #919eab;
}
.icon-headphone:before {
  content: "\e9e7";
  color: #919eab;
}
.icon-link-2:before {
  content: "\e9e8";
  color: #919eab;
}
.icon-loop-82:before {
  content: "\e9e9";
  color: #919eab;
}
.icon-menu-bold:before {
  content: "\e9ea";
  color: #919eab;
}
.icon-menu-dots:before {
  content: "\e9eb";
  color: #919eab;
}
.icon-minimal-down:before {
  content: "\e9ec";
  color: #919eab;
}
.icon-minimal-left:before {
  content: "\e9ed";
  color: #919eab;
}
.icon-minimal-right:before {
  content: "\e9ee";
  color: #919eab;
}
.icon-minimal-up:before {
  content: "\e9ef";
  color: #919eab;
}
.icon-phone:before {
  content: "\e9f0";
  color: #919eab;
}
.icon-phone-2:before {
  content: "\e9f1";
  color: #919eab;
}
.icon-print:before {
  content: "\e9f2";
  color: #919eab;
}
.icon-receipt-list-42:before {
  content: "\e9f3";
  color: #919eab;
}
.icon-share-26:before {
  content: "\e9f4";
  color: #919eab;
}
.icon-simple-add:before {
  content: "\e9f5";
  color: #919eab;
}
.icon-simple-delete:before {
  content: "\e9f6";
  color: #919eab;
}
.icon-simple-remove:before {
  content: "\e9f7";
  color: #919eab;
}
.icon-single-content-03:before {
  content: "\e9f8";
  color: #919eab;
}
.icon-single-copy-04:before {
  content: "\e9f9";
  color: #919eab;
}
.icon-single-folded:before {
  content: "\e9fa";
  color: #919eab;
}
.icon-small-triangle-down:before {
  content: "\e9fb";
  color: #919eab;
}
.icon-small-triangle-left:before {
  content: "\e9fc";
  color: #919eab;
}
.icon-small-triangle-right:before {
  content: "\e9fd";
  color: #919eab;
}
.icon-small-triangle-up:before {
  content: "\e9fe";
  color: #919eab;
}
.icon-square-down:before {
  content: "\e9ff";
  color: #919eab;
}
.icon-square-left:before {
  content: "\ea00";
  color: #919eab;
}
.icon-square-right:before {
  content: "\ea01";
  color: #919eab;
}
.icon-square-up:before {
  content: "\ea02";
  color: #919eab;
}
.icon-swap-vertical:before {
  content: "\ea03";
  color: #919eab;
}
.icon-tail-down:before {
  content: "\ea04";
  color: #919eab;
}
.icon-tail-left:before {
  content: "\ea05";
  color: #919eab;
}
.icon-tail-right:before {
  content: "\ea06";
  color: #919eab;
}
.icon-tail-up:before {
  content: "\ea07";
  color: #919eab;
}
.icon-trash-simple:before {
  content: "\ea08";
  color: #919eab;
}
.icon-tv:before {
  content: "\ea09";
  color: #919eab;
}
.icon-umbrella-14:before {
  content: "\ea0a";
  color: #919eab;
}
.icon-zoom-bold:before {
  content: "\ea0b";
  color: #919eab;
}
.icon-zoom-bold-in:before {
  content: "\ea0c";
  color: #919eab;
}
.icon-zoom-bold-out:before {
  content: "\ea0d";
  color: #919eab;
}
.icon-announcement .path1:before {
  content: "\e900";
  color: #f1f5f9;
}
.icon-announcement .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: #1976d2;
}
.icon-announcement .path3:before {
  content: "\e902";
  margin-left: -1em;
  color: #1976d2;
}
.icon-atom .path1:before {
  content: "\e903";
  color: #f1f5f9;
}
.icon-atom .path2:before {
  content: "\e904";
  margin-left: -1em;
  color: #1976d2;
}
.icon-atom .path3:before {
  content: "\e905";
  margin-left: -1em;
  color: #1976d2;
}
.icon-attendance .path1:before {
  content: "\e906";
  color: #f1f5f9;
}
.icon-attendance .path2:before {
  content: "\e907";
  margin-left: -1em;
  color: #1976d2;
}
.icon-attendance .path3:before {
  content: "\e908";
  margin-left: -1em;
  color: #1976d2;
}
.icon-attendance .path4:before {
  content: "\e909";
  margin-left: -1em;
  color: #1976d2;
}
.icon-attendance .path5:before {
  content: "\e90a";
  margin-left: -1em;
  color: #1976d2;
}
.icon-attendance .path6:before {
  content: "\e90b";
  margin-left: -1em;
  color: #1976d2;
}
.icon-attendance .path7:before {
  content: "\e90c";
  margin-left: -1em;
  color: #1976d2;
}
.icon-attendance .path8:before {
  content: "\e90d";
  margin-left: -1em;
  color: #1976d2;
}
.icon-attendance .path9:before {
  content: "\e90e";
  margin-left: -1em;
  color: #1976d2;
}
.icon-attendance .path10:before {
  content: "\e90f";
  margin-left: -1em;
  color: #1976d2;
}
.icon-attendance .path11:before {
  content: "\e910";
  margin-left: -1em;
  color: #1976d2;
}
.icon-attendance .path12:before {
  content: "\e911";
  margin-left: -1em;
  color: #1976d2;
}
.icon-calendar .path1:before {
  content: "\e912";
  color: #f1f5f9;
}
.icon-calendar .path2:before {
  content: "\e913";
  margin-left: -1em;
  color: #f1f5f9;
}
.icon-calendar .path3:before {
  content: "\e914";
  margin-left: -1em;
  color: #1976d2;
}
.icon-calendar .path4:before {
  content: "\e915";
  margin-left: -1em;
  color: #1976d2;
}
.icon-calendar .path5:before {
  content: "\e916";
  margin-left: -1em;
  color: #1976d2;
}
.icon-calendar .path6:before {
  content: "\e917";
  margin-left: -1em;
  color: #1976d2;
}
.icon-calendar .path7:before {
  content: "\e918";
  margin-left: -1em;
  color: #1976d2;
}
.icon-calendar .path8:before {
  content: "\e919";
  margin-left: -1em;
  color: #1976d2;
}
.icon-calendar .path9:before {
  content: "\e91a";
  margin-left: -1em;
  color: #1976d2;
}
.icon-calendar .path10:before {
  content: "\e91b";
  margin-left: -1em;
  color: #1976d2;
}
.icon-calendar .path11:before {
  content: "\e91c";
  margin-left: -1em;
  color: #1976d2;
}
.icon-calendar .path12:before {
  content: "\e91d";
  margin-left: -1em;
  color: #1976d2;
}
.icon-calendar .path13:before {
  content: "\e91e";
  margin-left: -1em;
  color: #1976d2;
}
.icon-calendar .path14:before {
  content: "\e91f";
  margin-left: -1em;
  color: #1976d2;
}
.icon-calendar .path15:before {
  content: "\e920";
  margin-left: -1em;
  color: #1976d2;
}
.icon-calendar .path16:before {
  content: "\e921";
  margin-left: -1em;
  color: #1976d2;
}
.icon-calendar .path17:before {
  content: "\e922";
  margin-left: -1em;
  color: #1976d2;
}
.icon-calendar .path18:before {
  content: "\e923";
  margin-left: -1em;
  color: #1976d2;
}
.icon-calendar .path19:before {
  content: "\e924";
  margin-left: -1em;
  color: #1976d2;
}
.icon-calendar .path20:before {
  content: "\e925";
  margin-left: -1em;
  color: #1976d2;
}
.icon-calendar .path21:before {
  content: "\e926";
  margin-left: -1em;
  color: #1976d2;
}
.icon-certification .path1:before {
  content: "\e927";
  color: #f1f5f9;
}
.icon-certification .path2:before {
  content: "\e928";
  margin-left: -1em;
  color: #1976d2;
}
.icon-certification .path3:before {
  content: "\e929";
  margin-left: -1em;
  color: #1976d2;
}
.icon-certification .path4:before {
  content: "\e92a";
  margin-left: -1em;
  color: #1976d2;
}
.icon-certification .path5:before {
  content: "\e92b";
  margin-left: -1em;
  color: #1976d2;
}
.icon-certification .path6:before {
  content: "\e92c";
  margin-left: -1em;
  color: #1976d2;
}
.icon-certification .path7:before {
  content: "\e92d";
  margin-left: -1em;
  color: #1976d2;
}
.icon-certification .path8:before {
  content: "\e92e";
  margin-left: -1em;
  color: #1976d2;
}
.icon-certification .path9:before {
  content: "\e92f";
  margin-left: -1em;
  color: #1976d2;
}
.icon-certification .path10:before {
  content: "\e930";
  margin-left: -1em;
  color: #1976d2;
}
.icon-close-filled .path1:before {
  content: "\e931";
  color: #f1f1f2;
}
.icon-close-filled .path2:before {
  content: "\e932";
  margin-left: -1em;
  color: #f1f1f2;
}
.icon-close-filled .path3:before {
  content: "\e933";
  margin-left: -1em;
  color: #1976d2;
}
.icon-close-line .path1:before {
  content: "\e934";
  color: #f1f1f2;
}
.icon-close-line .path2:before {
  content: "\e935";
  margin-left: -1em;
  color: #f1f1f2;
}
.icon-close-line .path3:before {
  content: "\e936";
  margin-left: -1em;
  color: #1976d2;
}
.icon-close-line .path4:before {
  content: "\e937";
  margin-left: -1em;
  color: #1976d2;
}
.icon-creditcard-hand .path1:before {
  content: "\e938";
  color: #f1f5f9;
}
.icon-creditcard-hand .path2:before {
  content: "\e939";
  margin-left: -1em;
  color: #1976d2;
}
.icon-devices .path1:before {
  content: "\e93a";
  color: #f1f5f9;
}
.icon-devices .path2:before {
  content: "\e93b";
  margin-left: -1em;
  color: #f1f5f9;
}
.icon-devices .path3:before {
  content: "\e93c";
  margin-left: -1em;
  color: #1976d2;
}
.icon-devices .path4:before {
  content: "\e93d";
  margin-left: -1em;
  color: #1976d2;
}
.icon-devices .path5:before {
  content: "\e93e";
  margin-left: -1em;
  color: #1976d2;
}
.icon-devices .path6:before {
  content: "\e93f";
  margin-left: -1em;
  color: #1976d2;
}
.icon-devices .path7:before {
  content: "\e940";
  margin-left: -1em;
  color: #1976d2;
}
.icon-disable .path1:before {
  content: "\e941";
  color: #f1f1f2;
}
.icon-disable .path2:before {
  content: "\e942";
  margin-left: -1em;
  color: #f1f1f2;
}
.icon-disable .path3:before {
  content: "\e943";
  margin-left: -1em;
  color: #1976d2;
}
.icon-edit-file .path1:before {
  content: "\e944";
  color: #f1f5f9;
}
.icon-edit-file .path2:before {
  content: "\e945";
  margin-left: -1em;
  color: #1976d2;
}
.icon-edit-file .path3:before {
  content: "\e946";
  margin-left: -1em;
  color: #1976d2;
}
.icon-edit-file .path4:before {
  content: "\e947";
  margin-left: -1em;
  color: #1976d2;
}
.icon-employees-list .path1:before {
  content: "\e948";
  color: #f1f1f2;
}
.icon-employees-list .path2:before {
  content: "\e949";
  margin-left: -1em;
  color: #f1f5f9;
}
.icon-employees-list .path3:before {
  content: "\e94a";
  margin-left: -1em;
  color: #f1f5f9;
}
.icon-employees-list .path4:before {
  content: "\e94b";
  margin-left: -1em;
  color: #f1f5f9;
}
.icon-employees-list .path5:before {
  content: "\e94c";
  margin-left: -1em;
  color: #1976d2;
}
.icon-employees-list .path6:before {
  content: "\e94d";
  margin-left: -1em;
  color: #1976d2;
}
.icon-employees-list .path7:before {
  content: "\e94e";
  margin-left: -1em;
  color: #1976d2;
}
.icon-equipment .path1:before {
  content: "\e94f";
  color: #f1f5f9;
}
.icon-equipment .path2:before {
  content: "\e950";
  margin-left: -1em;
  color: #f1f5f9;
}
.icon-equipment .path3:before {
  content: "\e951";
  margin-left: -1em;
  color: #1976d2;
}
.icon-equipment .path4:before {
  content: "\e952";
  margin-left: -1em;
  color: #1976d2;
}
.icon-equipment .path5:before {
  content: "\e953";
  margin-left: -1em;
  color: #1976d2;
}
.icon-equipment .path6:before {
  content: "\e954";
  margin-left: -1em;
  color: #1976d2;
}
.icon-equipment .path7:before {
  content: "\e955";
  margin-left: -1em;
  color: #1976d2;
}
.icon-equipment .path8:before {
  content: "\e956";
  margin-left: -1em;
  color: #1976d2;
}
.icon-expenses .path1:before {
  content: "\e957";
  color: #f1f5f9;
}
.icon-expenses .path2:before {
  content: "\e958";
  margin-left: -1em;
  color: #1976d2;
}
.icon-expenses .path3:before {
  content: "\e959";
  margin-left: -1em;
  color: #1976d2;
}
.icon-guide .path1:before {
  content: "\e95a";
  color: #f1f5f9;
}
.icon-guide .path2:before {
  content: "\e95b";
  margin-left: -1em;
  color: #1976d2;
}
.icon-guide .path3:before {
  content: "\e95c";
  margin-left: -1em;
  color: #1976d2;
}
.icon-guide .path4:before {
  content: "\e95d";
  margin-left: -1em;
  color: #1976d2;
}
.icon-guide .path5:before {
  content: "\e95e";
  margin-left: -1em;
  color: #1976d2;
}
.icon-guide .path6:before {
  content: "\e95f";
  margin-left: -1em;
  color: #1976d2;
}
.icon-guide .path7:before {
  content: "\e960";
  margin-left: -1em;
  color: #1976d2;
}
.icon-guide .path8:before {
  content: "\e961";
  margin-left: -1em;
  color: #1976d2;
}
.icon-guide .path9:before {
  content: "\e962";
  margin-left: -1em;
  color: #1976d2;
}
.icon-guide .path10:before {
  content: "\e963";
  margin-left: -1em;
  color: #1976d2;
}
.icon-guide .path11:before {
  content: "\e964";
  margin-left: -1em;
  color: #1976d2;
}
.icon-guide .path12:before {
  content: "\e965";
  margin-left: -1em;
  color: #1976d2;
}
.icon-guide .path13:before {
  content: "\e966";
  margin-left: -1em;
  color: #1976d2;
}
.icon-guide .path14:before {
  content: "\e967";
  margin-left: -1em;
  color: #1976d2;
}
.icon-guide .path15:before {
  content: "\e968";
  margin-left: -1em;
  color: #1976d2;
}
.icon-guide .path16:before {
  content: "\e969";
  margin-left: -1em;
  color: #1976d2;
}
.icon-guide .path17:before {
  content: "\e96a";
  margin-left: -1em;
  color: #1976d2;
}
.icon-guide .path18:before {
  content: "\e96b";
  margin-left: -1em;
  color: #1976d2;
}
.icon-guide .path19:before {
  content: "\e96c";
  margin-left: -1em;
  color: #1976d2;
}
.icon-guide .path20:before {
  content: "\e96d";
  margin-left: -1em;
  color: #1976d2;
}
.icon-guide .path21:before {
  content: "\e96e";
  margin-left: -1em;
  color: #1976d2;
}
.icon-home .path1:before {
  content: "\e96f";
  color: #f1f1f2;
}
.icon-home .path2:before {
  content: "\e970";
  margin-left: -1em;
  color: #f1f5f9;
}
.icon-home .path3:before {
  content: "\e971";
  margin-left: -1em;
  color: #1976d2;
}
.icon-image .path1:before {
  content: "\e972";
  color: #f1f5f9;
}
.icon-image .path2:before {
  content: "\e973";
  margin-left: -1em;
  color: #f1f5f9;
}
.icon-image .path3:before {
  content: "\e974";
  margin-left: -1em;
  color: #1976d2;
}
.icon-image .path4:before {
  content: "\e975";
  margin-left: -1em;
  color: #1976d2;
}
.icon-invoice-history .path1:before {
  content: "\e976";
  color: #f1f5f9;
}
.icon-invoice-history .path2:before {
  content: "\e977";
  margin-left: -1em;
  color: #1976d2;
}
.icon-invoice-history .path3:before {
  content: "\e978";
  margin-left: -1em;
  color: #1976d2;
}
.icon-invoice-history .path4:before {
  content: "\e979";
  margin-left: -1em;
  color: #1976d2;
}
.icon-invoice-history .path5:before {
  content: "\e97a";
  margin-left: -1em;
  color: #1976d2;
}
.icon-invoice-history .path6:before {
  content: "\e97b";
  margin-left: -1em;
  color: #1976d2;
}
.icon-invoice-history .path7:before {
  content: "\e97c";
  margin-left: -1em;
  color: #1976d2;
}
.icon-invoice-history .path8:before {
  content: "\e97d";
  margin-left: -1em;
  color: #1976d2;
}
.icon-invoice-history .path9:before {
  content: "\e97e";
  margin-left: -1em;
  color: #1976d2;
}
.icon-invoice-history .path10:before {
  content: "\e97f";
  margin-left: -1em;
  color: #1976d2;
}
.icon-invoice-history .path11:before {
  content: "\e980";
  margin-left: -1em;
  color: #1976d2;
}
.icon-invoice-history .path12:before {
  content: "\e981";
  margin-left: -1em;
  color: #1976d2;
}
.icon-invoice-history .path13:before {
  content: "\e982";
  margin-left: -1em;
  color: #1976d2;
}
.icon-invoice-history .path14:before {
  content: "\e983";
  margin-left: -1em;
  color: #1976d2;
}
.icon-invoice-history .path15:before {
  content: "\e984";
  margin-left: -1em;
  color: #1976d2;
}
.icon-invoice-history .path16:before {
  content: "\e985";
  margin-left: -1em;
  color: #1976d2;
}
.icon-invoice-history .path17:before {
  content: "\e986";
  margin-left: -1em;
  color: #1976d2;
}
.icon-logo .path1:before {
  content: "\e987";
  color: #f1f5f9;
}
.icon-logo .path2:before {
  content: "\e988";
  margin-left: -1em;
  color: #f1f5f9;
}
.icon-logo .path3:before {
  content: "\e989";
  margin-left: -1em;
  color: #f1f5f9;
}
.icon-logo .path4:before {
  content: "\e98a";
  margin-left: -1em;
  color: #1976d2;
}
.icon-logo .path5:before {
  content: "\e98b";
  margin-left: -1em;
  color: #1976d2;
}
.icon-logo .path6:before {
  content: "\e98c";
  margin-left: -1em;
  color: #1976d2;
}
.icon-logo .path7:before {
  content: "\e98d";
  margin-left: -1em;
  color: #1976d2;
}
.icon-manager .path1:before {
  content: "\e98e";
  color: #f1f5f9;
}
.icon-manager .path2:before {
  content: "\e98f";
  margin-left: -1em;
  color: #1976d2;
}
.icon-messenger .path1:before {
  content: "\e990";
  color: #f1f5f9;
}
.icon-messenger .path2:before {
  content: "\e991";
  margin-left: -1em;
  color: #1976d2;
}
.icon-messenger .path3:before {
  content: "\e992";
  margin-left: -1em;
  color: #1976d2;
}
.icon-messenger .path4:before {
  content: "\e993";
  margin-left: -1em;
  color: #1976d2;
}
.icon-messenger .path5:before {
  content: "\e994";
  margin-left: -1em;
  color: #1976d2;
}
.icon-notification .path1:before {
  content: "\e995";
  color: #f1f5f9;
}
.icon-notification .path2:before {
  content: "\e996";
  margin-left: -1em;
  color: #1976d2;
}
.icon-overtime .path1:before {
  content: "\e997";
  color: #f1f5f9;
}
.icon-overtime .path2:before {
  content: "\e998";
  margin-left: -1em;
  color: #f1f5f9;
}
.icon-overtime .path3:before {
  content: "\e999";
  margin-left: -1em;
  color: #1976d2;
}
.icon-overtime .path4:before {
  content: "\e99a";
  margin-left: -1em;
  color: #1976d2;
}
.icon-payment .path1:before {
  content: "\e99b";
  color: #f1f5f9;
}
.icon-payment .path2:before {
  content: "\e99c";
  margin-left: -1em;
  color: #f1f5f9;
}
.icon-payment .path3:before {
  content: "\e99d";
  margin-left: -1em;
  color: #1976d2;
}
.icon-payment .path4:before {
  content: "\e99e";
  margin-left: -1em;
  color: #1976d2;
}
.icon-payment .path5:before {
  content: "\e99f";
  margin-left: -1em;
  color: #1976d2;
}
.icon-payment .path6:before {
  content: "\e9a0";
  margin-left: -1em;
  color: #1976d2;
}
.icon-payment .path7:before {
  content: "\e9a1";
  margin-left: -1em;
  color: #1976d2;
}
.icon-payment .path8:before {
  content: "\e9a2";
  margin-left: -1em;
  color: #1976d2;
}
.icon-payment .path9:before {
  content: "\e9a3";
  margin-left: -1em;
  color: #1976d2;
}
.icon-payment .path10:before {
  content: "\e9a4";
  margin-left: -1em;
  color: #1976d2;
}
.icon-profile-check .path1:before {
  content: "\e9a5";
  color: #f1f5f9;
}
.icon-profile-check .path2:before {
  content: "\e9a6";
  margin-left: -1em;
  color: #1976d2;
}
.icon-profile-check .path3:before {
  content: "\e9a7";
  margin-left: -1em;
  color: #1976d2;
}
.icon-profile-check .path4:before {
  content: "\e9a8";
  margin-left: -1em;
  color: #1976d2;
}
.icon-profile-check .path5:before {
  content: "\e9a9";
  margin-left: -1em;
  color: #1976d2;
}
.icon-profile-check .path6:before {
  content: "\e9aa";
  margin-left: -1em;
  color: #1976d2;
}
.icon-profile-check .path7:before {
  content: "\e9ab";
  margin-left: -1em;
  color: #1976d2;
}
.icon-recruitment .path1:before {
  content: "\e9ac";
  color: #f1f1f2;
}
.icon-recruitment .path2:before {
  content: "\e9ad";
  margin-left: -1em;
  color: #f1f5f9;
}
.icon-recruitment .path3:before {
  content: "\e9ae";
  margin-left: -1em;
  color: #f1f5f9;
}
.icon-recruitment .path4:before {
  content: "\e9af";
  margin-left: -1em;
  color: #1976d2;
}
.icon-recruitment .path5:before {
  content: "\e9b0";
  margin-left: -1em;
  color: #1976d2;
}
.icon-setting-gear .path1:before {
  content: "\e9b1";
  color: #f1f5f9;
}
.icon-setting-gear .path2:before {
  content: "\e9b2";
  margin-left: -1em;
  color: #1976d2;
}
.icon-setting-gear .path3:before {
  content: "\e9b3";
  margin-left: -1em;
  color: #1976d2;
}
.icon-signature .path1:before {
  content: "\e9b4";
  color: #f1f5f9;
}
.icon-signature .path2:before {
  content: "\e9b5";
  margin-left: -1em;
  color: #1976d2;
}
.icon-signature .path3:before {
  content: "\e9b6";
  margin-left: -1em;
  color: #1976d2;
}
.icon-signature .path4:before {
  content: "\e9b7";
  margin-left: -1em;
  color: #1976d2;
}
.icon-signature .path5:before {
  content: "\e9b8";
  margin-left: -1em;
  color: #1976d2;
}
.icon-signature .path6:before {
  content: "\e9b9";
  margin-left: -1em;
  color: #1976d2;
}
.icon-signature .path7:before {
  content: "\e9ba";
  margin-left: -1em;
  color: #1976d2;
}
.icon-star .path1:before {
  content: "\e9bb";
  color: #f1f5f9;
}
.icon-star .path2:before {
  content: "\e9bc";
  margin-left: -1em;
  color: #1976d2;
}
.icon-support .path1:before {
  content: "\e9bd";
  color: #f1f5f9;
}
.icon-support .path2:before {
  content: "\e9be";
  margin-left: -1em;
  color: #1976d2;
}
.icon-tutorial .path1:before {
  content: "\e9bf";
  color: #f1f5f9;
}
.icon-tutorial .path2:before {
  content: "\e9c0";
  margin-left: -1em;
  color: #f1f5f9;
}
.icon-tutorial .path3:before {
  content: "\e9c1";
  margin-left: -1em;
  color: #1976d2;
}
.icon-tutorial .path4:before {
  content: "\e9c2";
  margin-left: -1em;
  color: #1976d2;
}
.icon-user-add .path1:before {
  content: "\e9c3";
  color: #f1f5f9;
}
.icon-user-add .path2:before {
  content: "\e9c4";
  margin-left: -1em;
  color: #f1f5f9;
}
.icon-user-add .path3:before {
  content: "\e9c5";
  margin-left: -1em;
  color: #1976d2;
}
.icon-user-add .path4:before {
  content: "\e9c6";
  margin-left: -1em;
  color: #1976d2;
}
.icon-user-add .path5:before {
  content: "\e9c7";
  margin-left: -1em;
  color: #1976d2;
}
.btn {
  padding: 0 17px !important;
  height: 44px;
  line-height: 44px;
  font-size: 20px;
  color: #fff;
  border: none;
  border-radius: 3px;
  text-decoration: none!important;
}
.btn.btn-icon {
  display: flex !important;
  align-items: center;
}
.btn.btn-xs {
  font-size: 14px;
  height: 32px;
  line-height: 35px;
  padding: 0 16px !important;
  border-radius: 50px;
}
.btn.btn-xs-nicon {
  font-size: 14px;
  height: 32px;
  line-height: 31px;
  padding: 0 16px !important;
  border-radius: 3px;
}
.btn .fa,
.btn [class^="icon-"],
.btn [class*=" icon-"] {
  margin-right: 6px;
}
.btn.btn-primary {
  background-image: linear-gradient(to left, #1976d2, #1565c0);
  box-shadow: 0 1px 0 0 rgba(22, 29, 37, 0.1), inset 0 1px 0 1px rgba(255, 255, 255, 0.06);
  border: solid 1px #1565c0;
}
@media (min-width: 767px) {
  .btn.btn-primary {
    position: relative;
    overflow: hidden;
    z-index: 0;
  }
  .btn.btn-primary:before,
  .btn.btn-primary:after {
    content: "";
    width: 100%;
    height: 0;
    position: absolute;
    transition: .3s;
    z-index: -1;
    display: block !important;
  }
  .btn.btn-primary:before {
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    bottom: 0% !important;
  }
  .btn.btn-primary:after {
    background-color: rgba(0, 0, 0, 0.5);
    right: 0;
    top: 0%!important;
  }
  .btn.btn-primary:hover {
    color: #fff !important;
    /* &:before{
				bottom: 50%;
			}
			&:after{
				top: 50%;
			} */
  }
  .btn.btn-primary:hover:before,
  .btn.btn-primary:hover:after {
    height: 50%;
  }
}
.btn.btn-primary .icon-atom {
  font-size: 14px;
}
.btn.btn-primary .icon-atom .path1::before {
  color: transparent;
}
.btn.btn-primary .icon-atom .path2::before,
.btn.btn-primary .icon-atom .path3::before {
  color: #fff;
}
.btn.btn-default {
  color: #212b36;
  background-image: linear-gradient(to left, #ffffff, #f9fafb);
  box-shadow: 0 1px 0 0 rgba(22, 29, 37, 0.05);
  border: 1px solid #c4cdd5;
}
@media (min-width: 767px) {
  .btn.btn-default {
    position: relative;
    overflow: hidden;
    z-index: 0;
  }
  .btn.btn-default:before,
  .btn.btn-default:after {
    content: "";
    width: 100%;
    height: 0;
    position: absolute;
    transition: .3s;
    z-index: -1;
    display: block !important;
  }
  .btn.btn-default:before {
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    bottom: 0% !important;
  }
  .btn.btn-default:after {
    background-color: rgba(0, 0, 0, 0.5);
    right: 0;
    top: 0%!important;
  }
  .btn.btn-default:hover {
    color: #fff !important;
    /* &:before{
				bottom: 50%;
			}
			&:after{
				top: 50%;
			} */
  }
  .btn.btn-default:hover:before,
  .btn.btn-default:hover:after {
    height: 50%;
  }
}
.btn.btn-link {
  color: #1976d2;
}
.btn.btn-link:hover {
  text-decoration: underline !important;
}
.btn.btn-save {
  color: #212b36;
  cursor: default;
  padding-right: 0!important;
}
.btn.btn-save .icon-check-circle-08:before {
  color: #4caf50;
}
.btn.btn-save:hover {
  text-decoration: none !important;
}
.btn .icon-edit-file {
  font-size: 16px;
}
.btn .icon-edit-file .path1:before {
  color: transparent;
}
.btn .icon-edit-file .path2:before,
.btn .icon-edit-file .path3:before,
.btn .icon-edit-file .path4:before {
  color: #637381;
}
.btn:hover .icon-edit-file {
  font-size: 16px;
}
.btn:hover .icon-edit-file .path2:before,
.btn:hover .icon-edit-file .path3:before,
.btn:hover .icon-edit-file .path4:before {
  color: #fff;
}
.btn.btn-silver {
  background-image: linear-gradient(to bottom, #ffffff, #f9fafb);
  box-shadow: 0 1px 0 0 rgba(22, 29, 37, 0.05);
  border: solid 1px #c4cdd5;
  color: #637381;
}
.btn.btn-silver .fa:before {
  color: #637381;
}
.btn.btn-silver:hover .fa:before {
  color: #fff;
}
.btn.btn-pay-setup .icon-creditcard-hand {
  margin-right: 0;
}
.btn.btn-pay-setup .icon-creditcard-hand .path1::before {
  color: transparent;
}
.btn.btn-pay-setup .icon-creditcard-hand .path2::before {
  color: #fff;
}
.btn.disabled {
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: .4;
  pointer-events: none;
}
.box-button .btn-style {
  margin-bottom: 5px;
}
.box-button .btn-style:last-child {
  margin: 0;
}
.btn-style {
  height: 32px;
  border-radius: 3px;
  width: 114px;
  font-weight: 500;
  display: flex;
  align-items: center;
  padding-left: 16px;
  text-align: center;
  font-size: 14px;
  text-decoration: none !important;
}
.btn-style.w-34 {
  width: 134px;
}
.btn-style:hover {
  opacity: 0.6;
}
.btn-style i {
  display: inline-block;
  margin-right: 8px;
  font-size: 16px;
}
.btn-style.btn-apporve {
  border: solid 1px #4caf50;
  color: #4caf50;
}
.btn-style.btn-apporve i:before {
  color: #4caf50;
}
.btn-style.btn-apporve.btn-apporve-active {
  border: solid 1px #4caf50;
  background-color: #4caf50;
  color: #fff;
}
.btn-style.btn-apporve.btn-apporve-active i:before {
  color: #fff;
}
.btn-style.btn-decline {
  border: solid 1px #e53935;
  color: #e53935;
}
.btn-style.btn-decline i:before {
  color: #e53935;
}
.btn-style.btn-edit-request {
  border: solid 1px #617985;
  color: #617985;
}
.btn-style.btn-edit-request i.icon-edit-file .path1:before {
  color: transparent;
}
.btn-style.btn-edit-request i.icon-edit-file .path2:before,
.btn-style.btn-edit-request i.icon-edit-file .path3:before,
.btn-style.btn-edit-request i.icon-edit-file .path4:before {
  color: #617985;
}
.btn-style.disabled {
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: .4;
  pointer-events: none;
}
.btn-style.btn-center {
  padding: 0;
  text-align: center;
  display: block;
  line-height: 32px;
}
@media (min-width: 767px) {
  .btn-hover {
    position: relative;
    overflow: hidden;
    z-index: 0;
  }
  .btn-hover:before,
  .btn-hover:after {
    content: "";
    width: 100%;
    height: 0;
    position: absolute;
    transition: .3s;
    z-index: -1;
    display: block !important;
  }
  .btn-hover:before {
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    bottom: 0% !important;
  }
  .btn-hover:after {
    background-color: rgba(0, 0, 0, 0.5);
    right: 0;
    top: 0%!important;
  }
  .btn-hover:hover {
    color: #fff !important;
    /* &:before{
				bottom: 50%;
			}
			&:after{
				top: 50%;
			} */
  }
  .btn-hover:hover:before,
  .btn-hover:hover:after {
    height: 50%;
  }
}
.box-notification {
  position: absolute;
  top: 34px;
  right: 7px;
}
.box-notification .fa {
  font-size: 16px;
}
.box-notification .content-notification {
  font-size: 12px;
  color: #212b36;
  padding: 11px;
  min-width: 238px;
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 0 2px 16px 0 rgba(33, 43, 54, 0.08), 0 0 0 1px rgba(6, 44, 82, 0.1);
  position: absolute;
  right: -14px;
  top: 43px;
  z-index: 9;
  display: none;
}
.box-notification .content-notification:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  color: transparent;
  border: 10px solid #CCC;
  border-color: transparent transparent #FFF;
  margin-top: -20px;
  margin-left: 10px;
  position: absolute;
  top: 0;
  right: 10px;
}
.box-notification .content-notification:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  color: transparent;
  border: 10px solid #CCC;
  border-color: transparent transparent #838486;
  margin-top: -20px;
  margin-left: 10px;
  position: absolute;
  top: 0;
  right: 10px;
}
.box-notification:hover .content-notification {
  display: block;
}
.input-radio,
.input-checkbox {
  position: relative;
}
.input-radio label,
.input-checkbox label {
  margin-bottom: 0;
  padding-left: 30px;
  position: relative;
  font-size: 14px;
  font-weight: 300;
  color: #585858;
  cursor: pointer;
}
.input-radio label:before,
.input-checkbox label:before {
  content: '';
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  border: .1rem solid #ccc;
}
.input-radio label:after,
.input-checkbox label:after {
  content: "\f00c";
  font: normal normal normal 14px/1 FontAwesome;
  color: #1976d2;
  position: absolute;
  z-index: 7;
  top: 3px;
  left: 3px;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
}
.input-radio label:hover::after,
.input-checkbox label:hover::after {
  opacity: 0.3;
}
.input-radio input[type=radio],
.input-checkbox input[type=radio],
.input-radio input[type=checkbox],
.input-checkbox input[type=checkbox] {
  visibility: hidden;
  position: absolute;
  z-index: -1;
}
.input-radio input[type=radio]:checked + label:after,
.input-checkbox input[type=radio]:checked + label:after,
.input-radio input[type=checkbox]:checked + label:after,
.input-checkbox input[type=checkbox]:checked + label:after {
  opacity: 1;
}
.input-radio input[type=radio]:checked + label:before,
.input-checkbox input[type=radio]:checked + label:before,
.input-radio input[type=checkbox]:checked + label:before,
.input-checkbox input[type=checkbox]:checked + label:before {
  border-color: #1976d2;
}
.input-radio label:before {
  border-radius: 50%;
}
.input-radio label:after {
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #1976d2;
  top: 3px;
  left: 3px;
}
.input-radio.input-radio-style strong {
  display: block;
  color: #dfe4e8;
  font-size: 16px;
  margin-bottom: 6px;
}
.input-radio.input-radio-style .text-sub {
  display: block;
  color: #dfe4e8;
}
.input-radio.input-radio-style input[type=radio] {
  visibility: hidden;
  position: absolute;
  z-index: -1;
}
.input-radio.input-radio-style input[type=radio]:checked + label strong {
  color: #212b36;
}
.input-radio.input-radio-style input[type=radio]:checked + label .text-sub {
  color: #212b36;
}
.input-radio.input-radio-xs label {
  padding-left: 22px;
}
.input-radio.input-radio-xs label:before {
  width: 16px;
  height: 16px;
}
.input-radio.input-radio-xs label:after {
  width: 8px;
  height: 8px;
  top: 4px;
  left: 4px;
}
.input-checkbox.input-checkbox-xs label {
  padding-left: 22px;
}
.input-checkbox.input-checkbox-xs label:before {
  width: 16px;
  height: 16px;
}
.input-checkbox.input-checkbox-xs label:after {
  top: 2px;
  left: 2px;
  font-size: 12px;
}
.form-view .form-group {
  padding: 19px 19px 19px 0;
}
.form-view .form-group .control-label {
  font-size: 14px;
  font-weight: 600;
  color: #637381;
  text-transform: none;
  margin-bottom: 9px;
}
.form-view .form-group .control-text {
  display: block;
  font-size: 20px;
  color: #212b36;
}
.form-view .form-group .control-text a.view {
  font-size: 12px;
  font-weight: 600;
  color: #1976d2;
  padding-left: 8px;
}
.form-view .form-group .control-text.control-text-icon {
  position: relative;
  padding-left: 30px;
}
.form-view .form-group .control-text.control-text-icon .icon-dashboard {
  top: 1px;
  left: 0;
}
.form-view .form-group .control-text.font-14 {
  font-size: 14px;
}
.form-view .form-group a.control-text {
  color: #1976d2;
}
.form-view.form-view-50 .form-group {
  margin-bottom: 0;
}
.form-view.form-view-50 .style-border {
  border-right: 0;
  display: flex;
}
.form-view.form-view-50 .style-border .w-50:nth-child(even) {
  border-left: 2px dotted #c8ced5;
}
.form-view.form-view-50 .style-border .w-50:nth-child(even) .form-group {
  padding-left: 19px;
}
.form-view.form-view-border {
  border-radius: 3px;
  box-shadow: 0 0 0 1px #c4cdd5;
}
.form-view.form-view-border .form-group {
  padding: 19px;
}
.select-currency {
  overflow: hidden;
  border: solid 1px #c4cdd5;
  border-radius: 3px;
}
.select-currency select.form-control {
  width: 80px;
  border-radius: 3px 0 0 3px;
  background-color: #dfe4e8;
  box-shadow: 0 1px 0 0 rgba(22, 29, 37, 0.05);
  border-right: solid 1px #c4cdd5;
  float: left;
}
.select-currency input.form-control {
  border-radius: 0;
  border: none;
  box-shadow: none;
}
.select-currency input.form-control.disabled {
  background-color: #f9fafb;
  pointer-events: none;
}
.header-topbar {
  min-height: 80px;
  background-color: #eff1f3;
}
.header-employees-border {
  box-shadow: 0 2px 4px 0 rgba(87, 71, 81, 0.2);
}
.navbar-default.navbar-registration {
  min-height: 80px;
  background-color: #1976d2;
  display: flex;
  align-items: center;
}
.navbar-default.navbar-registration .navbar-nav li a {
  color: #fff;
}
.navbar-default.navbar-registration .navbar-nav li a:before {
  background: #fff !important;
}
.navbar-default.navbar-registration .navbar-nav li a b {
  font-weight: normal;
}
.notifi-number {
  position: absolute;
  top: 0px;
  right: -4px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  text-align: center;
  line-height: 14px;
  background-color: #e53935;
  border: 1px solid #fff;
  color: #fff;
  font-size: 8px;
}
.box-flex-search {
  align-items: center;
  display: flex;
  height: 80px;
  float: none !important;
  width: 100%;
}
.box-flex-search .dropdown-menu {
  border-radius: 4px !important;
}
.box-flex-search .dropdown-menu-right {
  right: -10px;
  left: auto;
  margin-top: 12px !important;
}
.box-flex-search .dropdown-menu-right:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  color: transparent;
  border: 10px solid #CCC;
  border-color: transparent transparent #FFF;
  margin-top: -20px;
  margin-left: 10px;
  position: absolute;
  top: 0;
  right: 10px;
}
.box-flex-search .dropdown-menu-right:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  color: transparent;
  border: 10px solid #CCC;
  border-color: transparent transparent #111113;
  margin-top: -20px;
  margin-left: 10px;
  position: absolute;
  top: 0;
  right: 10px;
}
.box-search {
  width: 160px;
  height: 30px;
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0 1px 3px 0 rgba(63, 63, 68, 0.15), 0 0 0 1px #dfe4e8;
  display: flex;
  align-content: center;
  margin-left: auto;
}
.box-search .fa {
  width: 16px;
  height: 16px;
  color: #637381;
  margin: 7px 8px;
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.box-search .fa.fa-search:before {
  content: "\ea0b";
  color: #919eab;
}
.box-search .input-search {
  font-size: 14px;
  color: #919eab;
  background: none transparent;
  border: none;
  width: 129px;
}
.box-support {
  margin: 0 15px;
  cursor: pointer;
  padding-top: 6px;
}
.box-support .icon-support .path2 {
  font-size: 20px;
}
.box-support .icon-support .path2::before {
  color: #637381;
  margin-left: 0;
}
.box-support .icon-support .path2:hover::before {
  color: #1976d2;
}
.box-notifi {
  margin: 0 15px;
  cursor: pointer;
  padding-top: 6px;
}
.box-notifi .icon-notification .path2 {
  font-size: 20px;
}
.box-notifi .icon-notification .path2::before {
  color: #637381;
  margin-left: 0;
}
.box-notifi .icon-notification .path2:hover::before {
  color: #1976d2;
}
.box-guide {
  margin: 0 5px;
  cursor: pointer;
  padding-top: 6px;
}
.box-guide .icon-guide {
  font-size: 20px;
}
.box-guide .icon-guide [class^="path"]:before,
.box-guide .icon-guide [class*="path"]:before {
  color: #637381;
}
.box-guide .icon-guide:hover [class^="path"]:before,
.box-guide .icon-guide:hover [class*="path"]:before {
  color: #1976d2;
}
.box-guide .icon-guide .path1:before {
  color: transparent !important;
}
.box-manager {
  margin: 0 5px;
  cursor: pointer;
}
.box-manager .icon-manager .path2 {
  font-size: 32px;
}
.box-manager .icon-manager .path2::before {
  color: #637381;
  margin-left: 0;
}
.box-manager .icon-manager .path2:hover::before {
  color: #1976d2;
}
.header-employees {
  padding-left: 256px;
  position: fixed;
  width: 100%;
  z-index: 9;
  background-color: #fff;
}
.header-employees .header-topbar {
  background-color: #fff;
  margin: 0 !important;
}
.header-employees .container,
.header-employees .container-fluid {
  padding-right: 32px;
  padding-left: 32px;
  width: auto !important;
}
.header-employees .navbar-nav > li > a {
  padding: 0 !important;
}
.header-employees .navbar-nav > li > a:before {
  display: none!important;
}
.header-left .navbar-header-left {
  display: flex;
  align-items: center;
}
.header-left .navbar-header-left .navbar-brand {
  font-size: 24px;
  color: #637381;
  padding-left: 0;
}
.header-left .navbar-header-left .navbar-nav-header {
  margin: 0;
  padding: 0;
}
.header-left .navbar-header-left .navbar-nav-header li {
  display: inline-block;
  list-style-type: none;
}
@media screen and (max-width: 767px) {
  .header-left .navbar-header-left {
    display: none;
  }
}
.box-notifi-messages {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  padding-right: 50px;
  background-color: #eaf4fc;
  border: 1px solid #1976d2;
}
.box-notifi-messages p {
  margin: 0;
  font-size: 16px;
  color: #212b36;
}
.box-notifi-messages p a {
  font-weight: 600;
  color: #1976d2;
}
.box-notifi-messages .icon-close-messages {
  position: absolute;
  top: 50%;
  right: 20px;
  margin-top: -10px;
  text-decoration: none;
}
.box-notifi-messages .icon-close-messages .icon-close-line {
  font-size: 20px;
}
.box-notifi-v1 {
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0 1px 3px 0 rgba(63, 63, 68, 0.15), 0 0 0 2px #ffe082;
  padding: 15px;
  padding-left: 63px;
  position: relative;
  margin: 32px 0;
}
.box-notifi-v1 h4 {
  font-size: 16px;
  font-weight: 600;
  color: #212b36;
}
.box-notifi-v1 p {
  font-size: 14px;
  font-weight: normal;
  color: #212b36;
}
.box-notifi-v1 p a {
  color: #1976d2;
}
.box-notifi-v1 span.box-icon-alert {
  position: absolute;
  top: 18px;
  left: 15px;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  display: block;
  background-color: #ffe082;
}
.box-notifi-v1 span.box-icon-alert span {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  display: block;
  border: 1px solid #f9a825;
  background-color: #fff;
  text-align: center;
  line-height: 20px;
  color: #f9a825;
  margin: 6px;
}
.box-notifi-v2 {
  padding-left: 50px;
  padding-right: 23px;
  position: relative;
  min-height: 32px;
  line-height: 32px;
}
.box-notifi-v2 h5 {
  font-size: 16px;
  font-weight: 600;
  color: #212b36;
  line-height: 32px;
}
.box-notifi-v2 .remove {
  position: absolute;
  top: 0px;
  right: 0px;
  text-decoration: none !important;
}
.box-notifi-v2 .remove:hover .icon-circle-bold-remove:before {
  color: red;
}
.box-notifi-v2 span.box-icon-alert {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  display: block;
  text-align: center;
  line-height: 32px;
}
.box-notifi-v2 span.box-icon-alert.icon-announcement {
  background-color: rgba(145, 158, 171, 0.5);
}
.box-notifi-v2 span.box-icon-alert.icon-announcement .icon-announcement {
  font-size: 17px;
}
.box-notifi-v2 span.box-icon-alert.icon-announcement .icon-announcement .path1:before {
  color: #fff;
}
.box-notifi-v2 span.box-icon-alert.icon-announcement .icon-announcement .path2:before,
.box-notifi-v2 span.box-icon-alert.icon-announcement .icon-announcement .path3:before {
  color: #696b6d;
}
.box-notifi-v2 span.box-icon-alert.icon-check-circle {
  background-color: #4caf50;
}
.box-notifi-v2 span.box-icon-alert.icon-check-circle .icon-check-circle-08 {
  border: 2px solid #087f23;
  border-radius: 100px;
}
.box-notifi-v2 span.box-icon-alert.icon-check-circle .icon-check-circle-08:before {
  color: #fff;
}
.box-notifi-v2 span.box-icon-alert.icon-ban-box {
  background-color: rgba(229, 57, 53, 0.5);
}
.box-notifi-v2 span.box-icon-alert.icon-ban-box .icon-ban {
  background-color: #fff;
  border-radius: 100px;
}
.box-notifi-v2 span.box-icon-alert.icon-ban-box .icon-ban:before {
  color: #ab000d;
}
.box-alert {
  font-size: 12px;
  color: #212b36;
  padding: 16px;
  padding-left: 48px;
  position: relative;
  background-color: #eff1f3;
}
.box-alert .icon-alert-circle-i {
  position: absolute;
  top: 16px;
  left: 16px;
  font-size: 16px;
}
.box-alert .icon-alert-circle-i:before {
  color: #212b36;
}
.box-alert.box-alert-xs {
  background-color: transparent;
  padding: 12px;
  padding-left: 19px;
}
.box-alert.box-alert-xs .icon-alert-circle-i {
  font-size: 10px;
  top: 16px;
  left: 0px;
}
.box-popover {
  display: inline-block;
  position: relative;
  margin-left: 5px;
}
.box-popover .fa {
  font-size: 14px;
}
.box-popover:hover .box-content-popover {
  display: block;
}
.box-popover .box-content-popover {
  display: none;
  position: absolute;
  top: 50%;
  left: 22px;
  transform: translateY(-50%);
  z-index: 9;
  padding: 15px;
  font-size: 14px;
  font-weight: normal;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(63, 63, 68, 0.15), 0 0 0 1px #dfe4e8;
  min-width: 300px;
}
.box-popover .box-content-popover:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  color: transparent;
  border: 8px solid #ccc;
  border-color: transparent #aaacad transparent transparent;
  margin-top: -9px;
  margin-left: 10px;
  position: absolute;
  top: 50%;
  left: -27px;
}
.box-popover .box-content-popover:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  color: transparent;
  border: 8px solid #ccc;
  border-color: transparent #fff transparent transparent;
  margin-top: -9px;
  margin-left: 10px;
  position: absolute;
  top: 50%;
  left: -26px;
}
body {
  background-color: #f9fafb;
}
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'AvenirNext';
  font-weight: normal;
}
.flex-box {
  display: flex;
  align-items: center;
}
.inline-block {
  display: inline-block;
}
.ml-auto {
  margin-left: auto;
}
.box-show-menu {
  display: none;
  font-size: 22px;
  cursor: pointer;
}
.box-show-menu i {
  display: inline-block;
  margin-top: 5px;
}
.box-show-menu:hover i::before {
  color: #1565c0;
}
.layout-page {
  padding-left: 256px;
  padding-top: 80px;
}
.layout-page .container-fluid {
  padding-right: 32px;
  padding-left: 32px;
}
.container-addnew {
  padding: 32px 0;
}
.content-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.12);
  z-index: 99;
  display: none;
}
.content-overlay.is-open {
  display: block;
}
@media screen and (max-width: 1024px) {
  .box-show-menu {
    display: block;
  }
  .header-employees,
  .layout-page {
    padding-left: 0px;
  }
  .menu-left {
    left: -260px !important;
  }
  .menu-left.is-open {
    left: 0 !important;
  }
  .list-info-profile {
    left: 32px !important;
  }
}
h2.title-page {
  color: #919eab;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 16px;
}
h2.title-page.color-dark {
  color: #212b36;
}
h2.title-page.font-20 {
  font-size: 20px;
}
h3.title-section {
  position: relative;
  font-size: 20px;
  font-weight: 600;
  color: #212b36;
  padding-left: 30px;
  margin: 0;
}
h3.title-section i {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 20px;
}
h3.title-section i.color-blue:before {
  color: #1976d2;
}
h3.title-section i.color-dark:before {
  color: #212b36;
}
.disabled {
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: .4;
  pointer-events: none;
}
.title-style-vs1 {
  position: relative;
  font-size: 20px;
  font-weight: 600;
  color: #1976d2;
  padding-left: 33px;
  margin: 0;
}
.title-style-vs1 .icon-dashboard {
  top: -2px;
  left: 0;
}
.title-style {
  font-size: 14px;
  font-weight: 600;
  color: #637381;
  margin: 0 0 10px;
}
.title-style.color-tomato {
  color: #e53935;
}
.title-style.color-mid-green {
  color: #4caf50;
}
.w-50 {
  width: 50%;
}
.w-30 {
  width: 30%;
}
.w-70 {
  width: 70%;
}
.br-palegreytwo {
  background-color: #eff1f3;
}
.mt-17 {
  margin-top: 17px;
}
.mb-0 {
  margin-bottom: 0px!important;
}
.m-0 {
  margin: 0px!important;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-12 {
  margin-bottom: 12px;
}
.mb-60 {
  margin-bottom: 60px;
}
.mb-24 {
  margin-bottom: 24px;
}
.mb-4 {
  margin-bottom: 4px;
}
.mb-17 {
  margin-bottom: 17px;
}
.mlr-32 {
  margin-left: -32px !important;
  margin-right: -32px !important;
}
.mt-20 {
  margin-top: 20px;
}
.ml-8 {
  margin-left: 8px;
}
.ml-32 {
  margin-left: 32px;
}
.mr-20 {
  margin-right: 20px;
}
.pb-0 {
  padding-bottom: 0 !important;
}
.pb-10 {
  padding-bottom: 10px !important;
}
.pt-10 {
  padding-top: 10px !important;
}
.ptb-23 {
  padding-bottom: 23px !important;
  padding-top: 23px !important;
}
.overflow-hidden {
  overflow: hidden;
}
.font-16 {
  font-size: 16px!important;
  font-weight: 600!important;
  color: #212b36 !important;
}
.a-link {
  font-size: 14px;
  font-weight: normal;
}
.position-relative {
  position: relative;
}
.font-20 {
  font-size: 20px!important;
  font-weight: 600!important;
  margin: 0 !important;
  color: #212b36 !important;
}
hr.line {
  margin: 20px 0;
  height: 1px;
  background-color: #c8ced5;
}
hr.line.line-style {
  border: none;
  background-color: transparent;
  border-bottom: 2px dotted #c8ced5;
}
hr.line.line-margin {
  margin: 5px 0 0;
}
.style-border {
  border-bottom: 2px dotted #c8ced5;
  border-right: 2px dotted #c8ced5;
}
.style-border-bnone {
  border-bottom: none;
}
.box-section {
  padding: 16px 32px;
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0 1px 3px 0 rgba(63, 63, 68, 0.15), 0 0 0 1px #dfe4e8;
}
.box-section .progress-style {
  margin: 15px -32px 10px;
}
.box-section.box-section-padding {
  padding: 32px;
}
.box-section.box-section-none-padding {
  padding: 0;
  border-radius: none;
  box-shadow: none;
}
.overflow-hidden {
  overflow: hidden;
}
.header-background {
  background-color: #1976d2;
  min-height: 80px;
}
.container-form {
  max-width: 544px;
  margin: 0 auto;
  padding-bottom: 30px;
}
@media (max-width: 550px) {
  .container-form {
    max-width: 544px;
    margin: 0 20px;
  }
}
.container-form .box-form-header {
  margin: 45px 0 22px;
}
.container-form .box-form-header .from-header-title {
  text-align: center;
  color: #212b36;
  font-weight: 600;
  font-size: 36px;
}
.container-form .box-form-header p {
  font-size: 16px;
  color: #212b36;
  line-height: 20px;
  letter-spacing: normal;
  text-align: center;
  margin: 0;
}
.container-form .login-container {
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0 1px 3px 0 rgba(63, 63, 68, 0.15), 0 0 0 1px #dfe4e8;
  padding: 28px 32px;
}
.container-form .login-container .from-content-title {
  text-align: center;
  color: #212b36;
  font-weight: 600;
  font-size: 20px;
  margin-top: 0;
}
.container-form .login-container .oe_login_form {
  max-width: initial;
  position: relative;
  margin: 0;
}
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #919eab;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #919eab;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: #919eab;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #919eab;
}
.form-group {
  position: relative;
}
.form-group .control-label {
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #212b36;
  text-transform: uppercase;
  line-height: 18px;
  margin-bottom: 7px;
}
.form-group .control-label.text-transform-none {
  text-transform: none;
}
.form-group .form-control {
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: inset 0 1px 2px 0 rgba(102, 113, 123, 0.21), inset 0 0 0 1px rgba(102, 113, 123, 0.25);
  border: none;
  color: #212b36;
}
.form-group p {
  margin: 22px 0px;
  letter-spacing: normal;
  font-size: 14px;
}
.form-group p a {
  padding: 0px 5px;
  font-weight: 600;
  color: #1976d2;
}
.form-group p.ml-auto {
  margin: 0;
  margin-left: 20px;
}
.form-group.error .form-control {
  box-shadow: inset 0 1px 2px 0 #1872ce, inset 0 0 0 1px #1974d0;
}
.form-group.last {
  margin-bottom: 0;
}
.form-group .text {
  display: block;
}
.fy-password {
  display: block;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: #637381;
  margin-top: 20px;
  text-decoration: underline;
}
.fy-password:hover {
  text-decoration: none;
}
.container-verifybusiness {
  padding-right: 15px;
  padding-left: 15px;
  max-width: 1120px;
  margin: 0 auto;
}
.title-verifybusiness {
  padding: 34px 0;
}
.title-verifybusiness h3 {
  font-size: 36px;
  font-weight: 600;
  color: #212b36;
  margin-top: 0;
}
.title-verifybusiness p {
  font-size: 16px;
  color: #212b36;
  margin: 13px 0 0;
}
.menu-vb-left {
  margin: 0;
  padding: 0;
  box-shadow: 0 1px 3px 0 rgba(63, 63, 68, 0.15), 0 0 0 1px #dfe4e8;
  border-radius: 3px;
  overflow: hidden;
}
.menu-vb-left li {
  list-style-type: none;
  border-bottom: 1px dotted #917eab;
}
.menu-vb-left li:last-child {
  border: none;
}
.menu-vb-left li a {
  display: block;
  text-decoration: none;
  padding: 24px;
}
.menu-vb-left li a .box-icon-onboarding {
  float: left;
  margin-right: 15px;
}
.menu-vb-left li a .box-icon-onboarding .fa {
  font-size: 32px;
  color: #1976d2;
}
.menu-vb-left li a [class^="icon-"],
.menu-vb-left li a [class*=" icon-"] {
  font-size: 32px;
  float: left;
  margin-right: 15px;
}
.menu-vb-left li a .box-text {
  overflow: hidden;
}
.menu-vb-left li a .box-text h4 {
  font-size: 16px;
  font-weight: 600;
  color: #212b36;
  margin: 0;
}
.menu-vb-left li a .box-text p {
  font-size: 12px;
  color: #212b36;
  margin: 0;
}
.menu-vb-left li a.active,
.menu-vb-left li a:hover {
  background-color: #1976d2;
}
.menu-vb-left li a.active .box-icon-onboarding .fa,
.menu-vb-left li a:hover .box-icon-onboarding .fa {
  color: #fff;
}
.menu-vb-left li a.active [class^="path"]:before,
.menu-vb-left li a:hover [class^="path"]:before,
.menu-vb-left li a.active [class*="path"]:before,
.menu-vb-left li a:hover [class*="path"]:before {
  color: #fff;
}
.menu-vb-left li a.active .icon-certification .path1:before,
.menu-vb-left li a:hover .icon-certification .path1:before {
  color: transparent;
}
.menu-vb-left li a.active .icon-payment .path1:before,
.menu-vb-left li a:hover .icon-payment .path1:before,
.menu-vb-left li a.active .icon-payment .path2:before,
.menu-vb-left li a:hover .icon-payment .path2:before {
  color: transparent;
}
.menu-vb-left li a.active .icon-logo .path1:before,
.menu-vb-left li a:hover .icon-logo .path1:before,
.menu-vb-left li a.active .icon-logo .path2:before,
.menu-vb-left li a:hover .icon-logo .path2:before,
.menu-vb-left li a.active .icon-logo .path3:before,
.menu-vb-left li a:hover .icon-logo .path3:before {
  color: transparent;
}
.menu-vb-left li a.active .box-text h4,
.menu-vb-left li a:hover .box-text h4,
.menu-vb-left li a.active .box-text p,
.menu-vb-left li a:hover .box-text p {
  color: #fff;
}
.container-vb {
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0 1px 3px 0 rgba(63, 63, 68, 0.15), 0 0 0 1px #dfe4e8;
  padding: 32px;
}
.container-vb .titile-vb {
  font-size: 20px;
  font-weight: 600;
  color: #637381;
  line-height: 28px;
  border-bottom: 2px solid #c4cdd5;
  margin: 0 0 20px 0;
  padding-bottom: 10px;
}
.container-vb .section-vb {
  margin-bottom: 30px;
}
.container-vb .section-vb:last-child {
  margin-bottom: 0;
}
.container-vb .note-upload {
  margin: 0 0 10px 0;
}
.box-upload {
  outline: 1px dashed #dfe4e8;
  min-height: 280px;
  background-color: #FFF;
  display: flex;
  align-items: center;
}
.box-upload .box-upload-input {
  margin: 0 auto;
  text-align: center;
}
.box-upload .box-upload-input .icon-image {
  font-size: 96px;
}
.box-upload .box-upload-input .icon-image .path3:before,
.box-upload .box-upload-input .icon-image .path4:before {
  color: #c8cfd5;
}
.box-upload .box-upload-input .upload-text {
  position: relative;
}
.box-upload .box-upload-input .upload-text input.input-upload {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.box-upload .box-upload-input .upload-text label {
  font-size: 16px;
  color: #919eab;
  font-weight: normal;
}
.box-upload .box-upload-input .upload-text label span {
  color: #1976d2;
}
.box-continue {
  margin: 20px 0;
}
.box-continue p {
  margin: 0 10px 0 0;
  margin-left: auto;
}
.box-another-upload {
  position: relative;
}
.box-another-upload input.input-upload {
  position: absolute;
  top: 0;
  left: -102px;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.box-another-upload a {
  font-size: 14px;
  color: #1976d2;
}
.box-another-upload a .fa {
  margin-right: 5px;
  font-size: 16px;
}
.box-another-upload:hover a {
  text-decoration: underline;
}
.remove-upload {
  margin-bottom: 10px;
}
.remove-upload a {
  font-size: 14px;
  color: #e53935;
}
.remove-upload a .fa {
  margin-right: 5px;
  font-size: 16px;
}
.fancybox-icon {
  position: relative;
  display: block;
}
.fancybox-icon .background {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 43, 54, 0.25);
  text-align: center;
  display: flex;
  align-items: center;
}
.fancybox-icon .background .fa {
  color: #fff;
  font-size: 26px;
  margin: 0 auto;
  background-color: rgba(33, 43, 54, 0.15);
  padding: 11px;
  border-radius: 50%;
}
.fancybox-icon:before {
  content: '';
}
.fancybox-icon:hover .background {
  opacity: 1;
}
.fancybox-icon img {
  width: 100%;
  height: auto;
}
.submittedform h3 {
  font-size: 20px;
  color: #637381;
  margin: 0 0 10px 0;
}
.submittedform p {
  font-size: 14px;
  color: #212b36;
  margin: 0 0 10px 0;
}
.submittedform p.link-text {
  margin-bottom: 0;
}
.submittedform p.link-text a {
  color: #1976d2;
}
.section-payments {
  margin: 20px 0 0;
}
.bank-icon {
  font-size: 90px;
  text-align: center;
  margin: 10px 0;
}
.bank-icon .icon-loop-82:before {
  color: #1976d2;
}
.list-form-check .input-checkbox {
  margin-bottom: 15px;
}
.card {
  border-radius: 3px;
  background-color: #ffffff;
  border: solid 1px #919eab;
  padding: 16px;
}
.card.card-none-bolder {
  padding: 0;
  border-radius: 0px;
  border: none;
}
.card .title {
  font-size: 14px;
  font-weight: 600;
  color: #637381;
  display: block;
  margin-bottom: 8px;
}
.card .content {
  font-size: 20px;
  font-weight: 600;
  color: #212b36;
  display: block;
}
.card.card-active {
  border: none;
  background-color: #eff1f3;
}
.card.card-grey {
  border-top: 3px solid #637381;
}
.card.card-mid-green {
  border-top: 3px solid #4caf50;
}
.card.card-tomato {
  border-top: 3px solid #e53935;
}
.box-info-times {
  padding-left: 32px;
  position: relative;
}
.box-info-times i {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  transform: rotate(90deg);
}
.box-info-times i:before {
  color: #1565c0;
}
.box-info-times h5 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  color: #212b36;
  margin-bottom: 8px;
}
.box-info-times h5:hover {
  color: #1565c0;
}
.box-info-times h5:hover span {
  color: #212b36;
}
.box-info-times h5 span {
  font-size: 14px;
  font-weight: normal;
  color: #212b36;
  border-radius: 100px;
  background-color: #dfe3e8;
  margin-left: 5px;
  padding: 0 5px;
}
.box-info-times p {
  color: #212b36;
  margin: 0;
}
.box-collapse .line {
  margin-left: 32px;
}
.box-collapse [data-toggle="collapse"] {
  cursor: pointer;
}
.box-collapse .collapsed i {
  transform: rotate(0deg);
}
.box-collapse .collapsed i:before {
  color: #212b36;
}
.select-money {
  width: 85px;
  border-radius: 3px;
  background-color: #dfe4e8;
  border: solid 1px #c4cdd5;
}
.list-item-tiems {
  margin: 0;
  padding: 0;
  margin-left: 7px;
}
.list-item-tiems li {
  list-style-type: none;
  font-size: 14px;
  font-weight: 600;
  color: #637381;
  padding-bottom: 16px;
  padding-left: 24px;
  position: relative;
}
.list-item-tiems li:last-child {
  margin: 0;
}
.list-item-tiems li:last-child::before {
  display: none;
}
.list-item-tiems li::after {
  position: absolute;
  top: 6px;
  left: 0px;
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: #c4cdd5;
}
.list-item-tiems li::before {
  position: absolute;
  top: 10px;
  left: 4px;
  content: "";
  width: 1px;
  height: 100%;
  border-left: 1px dotted #c8ced5;
}
.list-item-tiems li .view {
  font-size: 14px;
  font-weight: normal;
  color: #1976d2;
  display: block;
  margin-top: 5px;
}
.list-item-tiems li .view .fa {
  margin-right: 6px;
}
.list-item-tiems li .chart {
  font-size: 14px;
  font-weight: normal;
  color: #637381;
  padding-left: 20px;
  position: relative;
  margin: 0;
  margin-top: 5px;
}
.list-item-tiems li .chart i {
  position: absolute;
  top: 3px;
  left: 0;
}
.box-receipts .fancybox-icon .icon-check-circle-08 {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  border: 2px solid #fff;
  border-radius: 100px;
  background-color: #fff;
}
.box-receipts .fancybox-icon .icon-check-circle-08:before {
  color: #4caf50;
}
.box-receipts .fancybox-icon .icon-check-circle-08.icon-times-circle {
  transform: rotate(45deg);
}
.box-receipts .fancybox-icon .icon-check-circle-08.icon-times-circle:before {
  color: #637381;
}
.box-receipts .fancybox-icon .background {
  opacity: 1;
}
.box-receipts .name {
  margin-top: 10px;
  font-size: 12px;
  font-weight: 600;
  color: #212b36;
}
.menu-left {
  transition: width 0.3s, left 0.3s;
  position: fixed;
  z-index: 400;
  width: 256px;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #eff1f3;
  box-shadow: inset 1px -7px 41px #e5e5e5;
  transform: translate3d(0, 0, 0);
  padding: 25px 0px 50px 40px;
}
.menu-left .nav-sidebar-scroll {
  width: 100%;
  height: 100%;
  padding-right: 30px;
  overflow: auto;
}
.menu-left .nav-sidebar-scroll .context-header {
  margin-bottom: 32px;
}
.menu-left .nav-sidebar-scroll .context-header a {
  display: block;
}
.menu-left .nav-sidebar-scroll .context-header a .avatar-container {
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  border-radius: 50%;
}
.menu-left .nav-sidebar-scroll .sidebar-top-level-items {
  margin: 0;
  padding: 0;
  margin-left: 8px;
}
.menu-left .nav-sidebar-scroll .sidebar-top-level-items li {
  list-style-type: none;
  margin-bottom: 30px;
}
.menu-left .nav-sidebar-scroll .sidebar-top-level-items li a {
  display: flex;
  text-decoration: none !important;
}
.menu-left .nav-sidebar-scroll .sidebar-top-level-items li a .nav-item-name {
  font-size: 14px;
  font-weight: 600;
  color: #161d25;
}
.menu-left .nav-sidebar-scroll .sidebar-top-level-items li a .nav-icon-container {
  margin-right: 16px;
}
.menu-left .nav-sidebar-scroll .sidebar-top-level-items li a .nav-icon-container [class^="icon-"],
.menu-left .nav-sidebar-scroll .sidebar-top-level-items li a .nav-icon-container [class*="icon-"] {
  font-size: 16px;
}
.menu-left .nav-sidebar-scroll .sidebar-top-level-items li a.active .nav-item-name,
.menu-left .nav-sidebar-scroll .sidebar-top-level-items li a:hover .nav-item-name {
  color: #1976d2;
}
.menu-left .nav-sidebar-scroll .sidebar-top-level-items li a.active .icon-home .path3::before,
.menu-left .nav-sidebar-scroll .sidebar-top-level-items li a:hover .icon-home .path3::before {
  color: #1976d2;
}
.menu-left .nav-sidebar-scroll .sidebar-top-level-items li a.active .icon-employees-list .path5::before,
.menu-left .nav-sidebar-scroll .sidebar-top-level-items li a:hover .icon-employees-list .path5::before,
.menu-left .nav-sidebar-scroll .sidebar-top-level-items li a.active .icon-employees-list .path6::before,
.menu-left .nav-sidebar-scroll .sidebar-top-level-items li a:hover .icon-employees-list .path6::before,
.menu-left .nav-sidebar-scroll .sidebar-top-level-items li a.active .icon-employees-list .path7::before,
.menu-left .nav-sidebar-scroll .sidebar-top-level-items li a:hover .icon-employees-list .path7::before {
  color: #1976d2;
}
.menu-left .nav-sidebar-scroll .sidebar-top-level-items li a.active .icon-recruitment .path4::before,
.menu-left .nav-sidebar-scroll .sidebar-top-level-items li a:hover .icon-recruitment .path4::before,
.menu-left .nav-sidebar-scroll .sidebar-top-level-items li a.active .icon-recruitment .path5::before,
.menu-left .nav-sidebar-scroll .sidebar-top-level-items li a:hover .icon-recruitment .path5::before {
  color: #1976d2;
}
.menu-left .nav-sidebar-scroll .sidebar-top-level-items li a.active .icon-invoice-history [class^="path"]::before,
.menu-left .nav-sidebar-scroll .sidebar-top-level-items li a:hover .icon-invoice-history [class^="path"]::before,
.menu-left .nav-sidebar-scroll .sidebar-top-level-items li a.active .icon-invoice-history [class*="path"]::before,
.menu-left .nav-sidebar-scroll .sidebar-top-level-items li a:hover .icon-invoice-history [class*="path"]::before {
  color: #1976d2;
}
.menu-left .nav-sidebar-scroll .sidebar-top-level-items li a.active .icon-invoice-history .path1::before,
.menu-left .nav-sidebar-scroll .sidebar-top-level-items li a:hover .icon-invoice-history .path1::before {
  color: transparent;
}
.menu-left .nav-sidebar-scroll .sidebar-top-level-items li a.active .icon-calendar [class^="path"]::before,
.menu-left .nav-sidebar-scroll .sidebar-top-level-items li a:hover .icon-calendar [class^="path"]::before,
.menu-left .nav-sidebar-scroll .sidebar-top-level-items li a.active .icon-calendar [class*="path"]::before,
.menu-left .nav-sidebar-scroll .sidebar-top-level-items li a:hover .icon-calendar [class*="path"]::before {
  color: #1976d2;
}
.menu-left .nav-sidebar-scroll .sidebar-top-level-items li a.active .icon-calendar .path1::before,
.menu-left .nav-sidebar-scroll .sidebar-top-level-items li a:hover .icon-calendar .path1::before,
.menu-left .nav-sidebar-scroll .sidebar-top-level-items li a.active .icon-calendar .path2::before,
.menu-left .nav-sidebar-scroll .sidebar-top-level-items li a:hover .icon-calendar .path2::before {
  color: transparent;
}
.menu-left .nav-sidebar-scroll .sidebar-top-level-items li a.active .icon-overtime .path3::before,
.menu-left .nav-sidebar-scroll .sidebar-top-level-items li a:hover .icon-overtime .path3::before,
.menu-left .nav-sidebar-scroll .sidebar-top-level-items li a.active .icon-overtime .path4::before,
.menu-left .nav-sidebar-scroll .sidebar-top-level-items li a:hover .icon-overtime .path4::before {
  color: #1976d2;
}
.menu-left .nav-sidebar-scroll .sidebar-top-level-items li a.active .icon-expenses .path2::before,
.menu-left .nav-sidebar-scroll .sidebar-top-level-items li a:hover .icon-expenses .path2::before,
.menu-left .nav-sidebar-scroll .sidebar-top-level-items li a.active .icon-expenses .path3::before,
.menu-left .nav-sidebar-scroll .sidebar-top-level-items li a:hover .icon-expenses .path3::before {
  color: #1976d2;
}
.menu-left .nav-sidebar-scroll .sidebar-top-level-items li.title-nav {
  margin-bottom: 20px;
}
.menu-left .nav-sidebar-scroll .sidebar-top-level-items li.title-nav span {
  font-size: 13px;
  font-weight: 600;
  color: #637381;
}
.icon-home .path3::before {
  color: #919eab;
}
.icon-employees-list .path5::before,
.icon-employees-list .path6::before,
.icon-employees-list .path7::before {
  color: #919eab;
}
.icon-recruitment .path4::before,
.icon-recruitment .path5::before {
  color: #919eab;
}
.icon-invoice-history [class^="path"]::before,
.icon-invoice-history [class*="path"]::before {
  color: #919eab;
}
.icon-invoice-history .path1::before {
  color: transparent;
}
.icon-calendar [class^="path"]::before,
.icon-calendar [class*="path"]::before {
  color: #919eab;
}
.icon-calendar .path1::before,
.icon-calendar .path2::before {
  color: transparent;
}
.icon-overtime .path3::before,
.icon-overtime .path4::before {
  color: #919eab;
}
.icon-expenses .path2::before,
.icon-expenses .path3::before {
  color: #919eab;
}
.box-settings {
  position: absolute;
  bottom: 15px;
  left: 50px;
}
.box-settings .dropdown-toggle {
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  color: #161d25;
  display: flex;
  align-items: center;
}
.box-settings .dropdown-toggle .fa {
  color: #919eab;
  font-size: 18px;
  margin-right: 8px;
}
.box-settings a {
  display: flex;
  text-decoration: none !important;
}
.box-settings a .nav-item-name {
  font-size: 14px;
  font-weight: 600;
  color: #161d25;
}
.box-settings a .nav-icon-container {
  margin-right: 14px;
}
.box-settings a .nav-icon-container .fa {
  font-size: 16px;
  color: #919eab;
}
.box-settings a:hover .nav-item-name {
  color: #1976d2;
}
.box-settings a:hover .fa {
  color: #1976d2;
}
.header-container {
  padding: 16px 32px;
  background-color: #fff;
  border-bottom: 1px solid #dfe4e8;
}
.view-dashboard-grid a {
  text-decoration: none;
  margin-right: 28px;
}
.view-dashboard-grid a i {
  font-size: 12px;
}
.view-dashboard-grid a i.icon-grid-48 {
  font-size: 11px;
}
.view-dashboard-grid a i::before {
  color: #919eab;
}
.view-dashboard-grid a.active i::before,
.view-dashboard-grid a:hover i::before {
  color: #1976d2;
}
.view-dashboard-grid .black-list a {
  color: #637381;
}
.view-dashboard-grid .black-list a i {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  background-color: #eff1f3;
  margin-right: 10px;
  display: inline-block;
  line-height: 34px;
  text-align: center;
}
.view-dashboard-grid .quick-list a {
  color: #637381;
  margin: 0;
}
.view-dashboard-grid .quick-list a i {
  margin-left: 10px;
}
.form-view.form-view-50 .form-group {
  margin-bottom: 0;
}
.form-view.form-view-50 .style-border-rnone {
  border-right: 0;
  display: flex;
}
.style-border-rnone {
  border-bottom: 2px dotted #c8ced5;
  border-right: none;
}
.box-sort-view {
  display: flex;
  align-items: center;
}
.box-sort-view .icon-sort {
  display: inline-block;
}
.box-sort-view .icon-sort a {
  text-decoration: none !important;
}
.box-sort-view .icon-sort i {
  font-size: 14px;
}
.box-sort-view .section {
  position: relative;
  padding: 0 28px;
}
.box-sort-view .section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 32px;
  background-color: #c4cdd5;
}
.box-sort-view .section span {
  font-size: 14px;
  color: #637381;
  padding-right: 8px;
}
.box-sort-view .section select {
  width: 160px;
  height: 32px;
  border-radius: 3px;
  background-image: linear-gradient(to left, #ffffff, #f9fafb);
  box-shadow: 0 1px 0 0 rgba(22, 29, 37, 0.05);
  border: solid 1px #c4cdd5;
  font-size: 14px;
  color: #212b36;
}
.list-dashboard {
  margin: 32px;
  margin-bottom: 50px;
  box-shadow: 0 1px 3px 0 rgba(63, 63, 68, 0.15), 0 0 0 1px #dfe4e8;
  border-radius: 5px;
  overflow: hidden;
}
.list-dashboard .item-dashboard {
  background-color: #fff;
  width: 33.33%;
  float: left;
}
.list-dashboard .item-dashboard .box-dh-border {
  padding: 32px;
  border: solid 1px #c4cdd5;
  position: relative;
}
.list-dashboard .box-dh-user {
  text-align: center;
}
.list-dashboard .box-dh-user .img-avatar img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}
.list-dashboard .box-dh-user h3 {
  margin: 16px 0;
  font-size: 20px;
  font-weight: 600;
  color: #212b36;
}
.list-dashboard .box-dh-user p {
  font-size: 12px;
  font-weight: 600;
  color: #1976d2;
  margin-bottom: 16px;
}
.list-dashboard .box-dh-user p span {
  font-size: 12px;
  font-weight: normal;
  color: #212b36;
  height: 16px;
  border-radius: 100px;
  background-color: #ffea8a;
  padding: 0 10px;
  margin-left: 5px;
}
.list-dashboard .box-dh-user ul {
  margin: 0;
  padding: 0;
}
.list-dashboard .box-dh-user ul li {
  display: inline-block;
  list-style-type: none;
  padding: 0 5px;
}
.list-dashboard .box-dh-info {
  border-radius: 3px;
  background-color: #eff1f3;
  padding: 16px;
  margin: 20px 0;
}
.list-dashboard .box-dh-info p {
  font-size: 14px;
  color: #212b36;
}
.list-dashboard .box-dh-info p:last-child {
  margin: 0;
}
.list-dashboard .box-dh-info p strong {
  padding-right: 5px;
}
.list-dashboard .box-dh-info p a {
  color: #1976d2;
}
.list-dashboard .box-dh-progress .text-progress {
  display: flex;
  align-items: center;
  margin-bottom: 7px;
}
.list-dashboard .box-dh-progress .text-progress span {
  font-size: 12px;
  color: #212b36;
}
.list-dashboard .box-dh-progress .progress {
  height: 8px;
  border-radius: 3px;
  background-color: #eff1f3;
}
.list-dashboard .box-dh-progress .progress .progress-bar {
  background-color: #919eab;
}
.number-dashboard {
  position: absolute;
  top: 32px;
  right: 32px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  text-align: center;
  background-color: #fb8c00;
  color: #fff;
  line-height: 25px;
}
.icon-dashboard {
  position: absolute;
  top: 32px;
  left: 32px;
}
.icon-dashboard .circle-icon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid #1976d2;
  display: inline-block;
  position: relative;
  left: 0;
  top: 0;
  overflow: hidden;
}
.icon-dashboard .circle-icon:before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  background-color: #90caf9;
  border-radius: 50%;
}
.icon-dashboard .circle-icon.circle-icon-50:before {
  width: 50%;
  height: 100%;
  border-radius: 50% 0 0 50%;
}
.icon-dashboard .circle-umbrella {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid #c4cdd5;
  display: inline-block;
  position: relative;
  left: 0;
  top: 0;
  overflow: hidden;
  line-height: 19px;
}
.icon-dashboard .circle-umbrella i {
  margin: 4px;
  font-size: 12px;
}
.container-profile {
  padding: 32px 0;
}
.user-profile {
  text-align: center;
  margin-bottom: 30px;
}
.user-profile .img-avatar a {
  display: inline-block;
  border-radius: 100px;
  overflow: hidden;
  border: 3px solid #d8d9da;
}
.user-profile .img-avatar img {
  width: 160px;
  height: 160px;
}
.user-profile h3 {
  font-size: 28px;
  font-weight: 600;
  color: #212b36;
}
.user-profile p {
  font-size: 16px;
  font-weight: 600;
  color: #1976d2;
}
.user-profile p a {
  font-size: 16px;
  font-weight: 600;
  color: #1976d2;
}
.list-info-profile {
  margin: 0;
  padding: 0;
  width: 100%;
}
.list-info-profile li {
  list-style-type: none;
}
.list-info-profile li a {
  display: flex;
  align-items: center;
  padding: 16px;
  border-radius: 3px;
  font-size: 16px;
  color: #212b36;
  text-decoration: none !important;
}
.list-info-profile li a i {
  font-size: 13px;
  color: #212b36;
  margin-right: 10px;
}
.list-info-profile li a.active,
.list-info-profile li a:hover {
  font-weight: 600;
  color: #212b36;
  background-color: #f1f5f9;
}
.list-info-profile li a span {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  text-align: center;
  background-color: #fb8c00;
  color: #fff;
  line-height: 25px;
}
@media screen and (max-width: 767px) {
  .list-info-profile {
    position: static !important;
  }
}
.progress-style {
  height: 8px;
  border-radius: 3px;
  background-color: #eff1f3;
}
.progress-style .progress-bar {
  background-color: #004ba0;
  border-radius: 3px;
}
.progress-allocate {
  height: 16px;
  border-radius: 3px;
  background-color: #eff1f3;
}
.progress-allocate .progress-bar {
  background-color: #004ba0;
  border-radius: 3px;
}
.progress-allocate .progress-bar.pale-grey-two {
  background-color: #eff1f3;
}
.progress-allocate .progress-bar.light-blue {
  background-color: #90caf9;
}
.progress-allocate .progress-bar.peacock-blue {
  background-color: #004ba0;
}
.box-addnew {
  background-color: #004ba0;
}
.box-addnew .title-addnew {
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  margin: 0;
}
.box-addnew .title-addnew .icon-user-add {
  margin-right: 5px;
}
.box-addnew .title-addnew .icon-user-add .path2:before,
.box-addnew .title-addnew .icon-user-add .path1:before {
  color: transparent;
}
.box-addnew .title-addnew .icon-user-add .path3:before,
.box-addnew .title-addnew .icon-user-add .path4:before,
.box-addnew .title-addnew .icon-user-add .path5:before {
  color: #fff;
}
.list-process {
  margin: 0;
  padding: 0;
}
.list-process li {
  list-style-type: none;
  position: relative;
  padding-left: 50px;
  min-height: 32px;
  line-height: 32px;
  padding-bottom: 15px;
}
.list-process li:last-child::before {
  display: none;
}
.list-process li::before {
  position: absolute;
  top: 10px;
  left: 15px;
  content: "";
  width: 1px;
  height: 100%;
  border-left: 2px dotted #c8ced5;
}
.list-process li .box-icon {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
  line-height: 32px;
}
.list-process li .box-icon .fa {
  color: #212b36;
}
.list-process li .box-icon .fa.bluey-grey {
  color: #919eab;
}
.list-process li .box-icon.icon-check .icon-check-circle-08:before {
  color: #4caf50;
}
.list-process li .box-icon.icon-creditcard .icon-creditcard-hand .path2:before {
  color: #919eab;
}
.list-process li .box-icon.icon-st .icon-signature .path2:before,
.list-process li .box-icon.icon-st .icon-signature .path3:before,
.list-process li .box-icon.icon-st .icon-signature .path4:before,
.list-process li .box-icon.icon-st .icon-signature .path5:before,
.list-process li .box-icon.icon-st .icon-signature .path6:before,
.list-process li .box-icon.icon-st .icon-signature .path7:before {
  color: #919eab;
}
.list-process li .box-icon .icon-circle {
  width: 14px;
  height: 14px;
  background-color: #c4cdd5;
  display: inline-block;
  border-radius: 50%;
}
.list-process li .box-icon.icon-active {
  background-color: #4caf50;
}
.list-process li .box-icon.icon-active .icon-check-circle-08:before {
  color: #fff;
}
.list-process li .text {
  font-size: 16px;
  color: #212b36;
}
.list-process li .text .bluey-grey {
  color: #919eab;
}
.list-process li .text.bluey-grey {
  color: #919eab;
}
.box-style {
  padding: 32px;
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0 1px 3px 0 rgba(63, 63, 68, 0.15), 0 0 0 1px #dfe4e8;
}
.style-text {
  margin: 0;
  color: #1976d2;
  padding-left: 22px;
}
.container-payment {
  border-radius: 3px;
  background-color: #f9fafb;
  box-shadow: 0 1px 3px 0 rgba(63, 63, 68, 0.12), 0 0 0 1px rgba(63, 63, 68, 0.07);
}
.box-payment-details {
  padding: 16px;
}
.box-payment-details .form-control {
  border-radius: 3px;
  background-color: #dfe4e8;
  border: solid 1px #c4cdd5;
  width: 80px;
}
.title-view {
  display: flex;
  align-items: center;
  background-color: #637381;
  padding: 16px;
  cursor: pointer;
  border-bottom: 1px solid rgba(63, 63, 68, 0.53);
}
.title-view h3 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
}
.title-view i {
  font-size: 16px;
}
.title-view i:before {
  color: #fff;
}
.title-view .icon-circle-down-40 {
  display: none;
}
.title-view.collapsed .icon-circle-down-40 {
  display: block;
}
.title-view.collapsed .icon-circle-up-39 {
  display: none;
}
.content-view {
  padding: 16px;
}
.content-view .description {
  color: #212b36;
  margin-bottom: 20px;
}
.content-view .item-list {
  display: flex;
}
.content-view .item-list .item-left {
  padding-right: 20px;
}
.content-view .item-list .item-left h3 {
  margin: 0;
  margin-bottom: 7px;
  font-size: 16px;
  font-weight: 600;
  color: #212b36;
}
.content-view .item-list .item-left h3.font-20 {
  font-size: 20px;
}
.content-view .item-list .item-left p {
  font-size: 12px;
  color: #212b36;
  margin: 0;
}
.content-view .item-list .item-right p {
  font-size: 16px;
  font-weight: 600;
  color: #212b36;
  margin: 0;
}
.content-view .item-list .item-right p.font-20 {
  font-size: 20px;
}
.user-name {
  margin-bottom: 20px;
}
.user-name a {
  font-size: 16px;
  font-weight: 600;
  color: #1976d2;
}
.text-information {
  font-size: 16px;
  font-weight: 600;
  color: #212b36;
  max-width: 80%;
}
.icon-information .icon-check-circle-08 {
  font-size: 20px;
}
.icon-information .icon-check-circle-08:before {
  color: #4caf50;
}
[data-toggle="collapse"] {
  cursor: pointer;
}
[data-toggle="collapse"]:hover h3.title-section {
  color: #1976d2;
}
.collapsed h3.title-section .icon-circle-down-40 {
  transform: rotate(-90deg);
}
.collapsed h3.title-section .icon-circle-down-40:before {
  color: #212b36;
}
.text-confirm {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}
.text-confirm .fa-check {
  color: #1565c0;
}
.box-currency {
  display: flex;
  align-items: center;
}
.box-currency span {
  margin-right: 10px;
}
.box-currency .form-control {
  border-radius: 3px;
  background-color: #dfe4e8;
  border: solid 1px #c4cdd5;
  width: 80px;
}
.box-private-insurance .fa {
  font-size: 70px;
}
.modal-title {
  font-size: 23px;
  font-weight: 600;
}
.box-info-user .user-profile .img-avatar img {
  width: 60px;
  height: 60px;
}
.box-leave-request {
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0 1px 3px 0 rgba(63, 63, 68, 0.15), 0 0 0 2px #ffe082;
  padding: 15px;
  padding-left: 63px;
  position: relative;
  display: flex;
}
.box-leave-request h4 {
  font-size: 16px;
  font-weight: 600;
  color: #212b36;
}
.box-leave-request p {
  font-size: 14px;
  font-weight: normal;
  color: #212b36;
}
.box-leave-request p a {
  color: #1976d2;
}
.box-leave-request span.box-icon-alert {
  position: absolute;
  top: 18px;
  left: 15px;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  display: block;
  background-color: #ffe082;
}
.box-leave-request span.box-icon-alert span {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  display: block;
  border: 1px solid #f9a825;
  background-color: #fff;
  text-align: center;
  line-height: 20px;
  color: #f9a825;
  margin: 6px;
}
.box-leave-request .section {
  flex-grow: 1;
}
@media screen and (max-width: 767px) {
  .form-view.form-view-50 .style-border {
    display: block;
  }
  .form-view.form-view-50 .w-50 {
    width: 100%;
    border: none !important;
  }
  .form-view.form-view-50 .w-50 .form-group {
    padding: 10px !important;
  }
  .form-view.form-view-50 .w-50 .form-group a.control-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .flex-box[data-toggle="collapse"] {
    display: block;
  }
  .flex-box[data-toggle="collapse"] h3.title-section {
    margin-bottom: 14px;
  }
  .card {
    margin-bottom: 20px;
  }
  .card:last-child {
    margin-bottom: 0;
  }
  .card.box-collapse > .flex-box {
    display: block;
  }
  .card.box-collapse .box-info-times {
    margin-bottom: 15px;
  }
}
.form-view.form-view-50 .form-group {
  margin-bottom: 0;
}
.form-view.form-view-50 .style-border-rnone {
  border-right: 0;
  display: flex;
}
.style-border-rnone {
  border-bottom: 2px dotted #c8ced5;
  border-right: none;
}
.btn-style.w-200 {
  width: 200px;
}
.btn-style.btn-warning {
  border: solid 1px #f0ad4e;
  color: #f0ad4e;
}
.btn-style.btn-warning i:before {
  color: #f0ad4e;
}
.btn-style.btn-warning.btn-warning-active {
  border: solid 1px #f0ad4e;
  background-color: #f0ad4e;
  color: #fff;
}
.btn-style.btn-warning.btn-warning-active i:before {
  color: #fff;
}
