
.btn {
	padding:0 17px !important;
	height:44px;
	line-height:44px;
	font-size: 20px;
	color:#fff;
	border:none;
	border-radius: 3px;
	text-decoration: none!important;
		
	&.btn-icon {
		display: flex !important;
		align-items: center;
	}
	
	&.btn-xs {
		font-size:14px;
		height:32px;
		line-height:35px;
		padding:0 16px !important;
		border-radius:50px;
	}
	&.btn-xs-nicon {
		font-size:14px;
		height:32px;
		line-height:31px;
		padding:0 16px !important;
		border-radius: 3px;
	}
	.fa,
	[class^="icon-"], [class*=" icon-"] {
		margin-right: 6px;
	}
	
	&.btn-primary {
		
		background-image: linear-gradient(to left, #1976d2, #1565c0);
		box-shadow: 0 1px 0 0 rgba(22, 29, 37, 0.1), inset 0 1px 0 1px rgba(255, 255, 255, 0.06);
		border: solid 1px #1565c0;
		.btn-hover;
		
		.icon-atom {
			font-size:14px;
			.path1 {
				&::before {
					color:transparent;
				}
			}
			.path2,
			.path3 {
				&::before {
					color:#fff;
				}
			}
		}
		
	}
	
	
	&.btn-default {
		color: #212b36;
		background-image: linear-gradient(to left, #ffffff, #f9fafb);
		box-shadow: 0 1px 0 0 rgba(22, 29, 37, 0.05);
		border:1px solid #c4cdd5;
		.btn-hover;
	}
	
	&.btn-link {
		color: #1976d2;
		&:hover {
			text-decoration: underline !important;
		}
	}
	
	&.btn-save {
		color: #212b36;
		cursor: default;
		padding-right:0!important;
		.icon-check-circle-08:before {
			color:#4caf50;
		}
		&:hover {
			text-decoration: none !important;
		}
	}
	
	.icon-edit-file {
		font-size:16px;
		.path1{
			&:before {
				color:transparent;
			}			
		}
		.path2,
		.path3,
		.path4{
			&:before {
				color:#637381;
			}			
		}
	}
	
	&:hover {
		.icon-edit-file {
			font-size:16px;
			.path2,
			.path3,
			.path4{
				&:before {
					color:#fff;
				}			
			}
		}
	}
	
	&.btn-silver {
		background-image: linear-gradient(to bottom, #ffffff, #f9fafb);
		box-shadow: 0 1px 0 0 rgba(22, 29, 37, 0.05);
		border: solid 1px #c4cdd5;
		color:#637381;
		.fa {
			&:before {
				color:#637381;
			}
		}
		&:hover { 
			.fa {
				&:before {
					color:#fff;
				}
			}
		}
	}
	
	&.btn-pay-setup {
		.icon-creditcard-hand {
			margin-right:0;
			.path1 {
				&::before{
					color:transparent;
				}
			}
			.path2 {
				&::before{
					color:#fff;
				}
			}
		}
	}
	&.disabled {
		cursor: not-allowed;
		filter: alpha(opacity=65);
		-webkit-box-shadow: none;
		box-shadow: none;
		opacity: .4;
		pointer-events: none;
	}
}

.box-button {
	.btn-style {
		margin-bottom:5px;
		
		&:last-child {
			margin:0;
		}
	}
}

.btn-style {
	height: 32px;
    border-radius: 3px;
	width: 114px;
	font-weight:500;
	display: flex;
    align-items: center;
	padding-left:16px;
	text-align:center;
	font-size: 14px;
	text-decoration:none !important;
	
	&.w-34 {
		width:134px;
	}
	
	&:hover {
		opacity:0.6;
	}
	
	i {
		display:inline-block;
		margin-right:8px;
		font-size:16px;
	}
	&.btn-apporve {
		border: solid 1px #4caf50;
		color: #4caf50;
		i {
			&:before {
				color: #4caf50;
			}
		}
		&.btn-apporve-active {
			border: solid 1px #4caf50;
			background-color:#4caf50;
			color: #fff;
			i {
				&:before {
					color: #fff;
				}
			}
			
		}
	}
	&.btn-decline {
		border: solid 1px #e53935;
		color: #e53935;
		i {
			&:before {
				color: #e53935;
			}
		}
	}
	
	&.btn-edit-request {
		border: solid 1px #617985;
		color: #617985;
		i.icon-edit-file {
			.path1:before {
				color:transparent;
			}
			.path2,
			.path3,
			.path4{
				&:before {
					color:#617985;
				}
			}
		}
	}
	
	&.disabled {
		cursor: not-allowed;
		filter: alpha(opacity=65);
		-webkit-box-shadow: none;
		box-shadow: none;
		opacity: .4;
		pointer-events: none;
	}
	
	&.btn-center {
		padding: 0;
		text-align: center;
		display: block;
		line-height: 32px;
	}
}


.btn-hover {
	@media (min-width: 767px){
		position:relative;
		overflow:hidden;
		z-index:0;
		&:before,
		&:after {
			content: ""; 
			width: 100%; 
			height: 0; 
			position: absolute; 
			transition:.3s; 
			z-index: -1;
			display:block !important;
		}
		&:before{
			background-color: rgba(0, 0, 0, 0.5); 
			left: 0; 
			bottom: 0% !important;
		}
		&:after{
			background-color: rgba(0, 0, 0, 0.5); 
			right: 0; 
			top: 0%!important;
		}
		&:hover {
			color: #fff !important;
			&:before,
			&:after {
				height: 50%;
			}
			/* &:before{
				bottom: 50%;
			}
			&:after{
				top: 50%;
			} */
		}
	}
}


.box-notification {
	position: absolute;
    top: 34px;
    right: 7px;
	
	.fa {
		font-size:16px;
	}
	
	.content-notification {
		font-size: 12px;
		color: #212b36;	
		padding:11px;
		min-width: 238px;
		border-radius: 2px;
		background-color: #ffffff;
		box-shadow: 0 2px 16px 0 rgba(33, 43, 54, 0.08), 0 0 0 1px rgba(6, 44, 82, 0.1);

		position: absolute;
		right: -14px;
		top: 43px;
		z-index: 9;
		display:none;
		
		&:after {
			content: '';
			display: block;
			width: 0;
			height: 0;
			color: transparent;
			border: 10px solid #CCC;
			border-color: transparent transparent #FFF;
			margin-top: -20px;
			margin-left: 10px;
			position: absolute;
			top: 0;
			right: 10px;
		}
		&:before {
			content: '';
			display: block;
			width: 0;
			height: 0;
			color: transparent;
			border: 10px solid #CCC;
			border-color: transparent transparent #838486;
			margin-top: -20px;
			margin-left: 10px;
			position: absolute;
			top: 0;
			right: 10px;
		}
	}
	&:hover {
		.content-notification {
			display:block;
		}
	}
}


.input-radio,
.input-checkbox {
	position: relative;
	label {
		margin-bottom:0;
		padding-left:30px;
		position:relative;
		font-size:14px;
		font-weight:300;
		color:#585858;
		cursor: pointer;
		
		&:before {
			content: '';
			width: 20px;
			height: 20px;
			cursor: pointer;
			position: absolute;
			top: 0;
			left: 0;
			border:.1rem solid #ccc;
		}
		
		&:after {
		  content: "\f00c";
		  font: normal normal normal 14px/1 FontAwesome;
		  color:#1976d2;
		  position: absolute;
		  z-index:7;
		  top: 3px;
		  left: 3px;
		  border-top: none;
		  border-right: none;
		  background: transparent;
		  opacity: 0;
		}
		&:hover::after {
		  opacity: 0.3;
		}
	}
	input[type=radio],
	input[type=checkbox] {
		visibility: hidden;
		position:absolute;
		z-index:-1;
		&:checked + label:after {
		  opacity: 1;
		}  
		&:checked + label:before {
			border-color:#1976d2;
		} 		
	}
}


.input-radio {
	label:before {
		border-radius:50%;
	}
	label:after {
		content: "";
		width: 14px;
		height: 14px;
		border-radius: 50%;
		background-color: #1976d2;
		top: 3px;
		left: 3px;

	}
	&.input-radio-style {
		strong {
			display:block;
			color:#dfe4e8;
			font-size: 16px;
			margin-bottom:6px;
		}
		.text-sub {
			display:block;
			color: #dfe4e8;
		}
		
		input[type=radio] {
			visibility: hidden;
			position:absolute;
			z-index:-1;
			&:checked + label {
				strong {
					color: #212b36;
				}
				.text-sub {
					color: #212b36;
				}
			}
		}
		
	}
	&.input-radio-xs {
		label {
			padding-left: 22px;
			&:before {
				width: 16px;
				height: 16px;
			}
			&:after {
				width: 8px;
				height: 8px;
				top: 4px;
				left: 4px;
			}
		}
	}
}
.input-checkbox {
	&.input-checkbox-xs {
		label {
			padding-left: 22px;
			&:before {
				width: 16px;
				height: 16px;
			}
			&:after {
				top: 2px;
				left: 2px;
				font-size: 12px;
			}
		}
	}
}