
.form-view {
	.form-group {
		padding: 19px 19px 19px 0;
		.control-label {
			font-size: 14px;
			font-weight: 600;
			color: #637381;
			text-transform:none;
			margin-bottom:9px;
		}
		.control-text {
			display:block;
			font-size: 20px;
			color: #212b36;
			
			a.view {
				font-size: 12px;
				font-weight:600;
				color: #1976d2;
				padding-left:8px;
			}
			
			&.control-text-icon {
				position:relative;
				padding-left:30px;
				.icon-dashboard {
					top:1px;
					left:0;
				}
			}
			
			&.font-14 {
				font-size:14px;
			}
			
		}
		a.control-text {
			color: #1976d2;
			
		}
	}

	
	&.form-view-50 {
		.form-group {
			margin-bottom:0;
		}
		.style-border {
			border-right:0;
			display:flex;
			.w-50:nth-child(even){
				border-left: 2px dotted #c8ced5;
				.form-group {
					padding-left:19px;
				}
			}
		}
		
	}
	
	&.form-view-border {
		border-radius: 3px;
		box-shadow: 0 0 0 1px #c4cdd5;
		.form-group {
			padding:19px;
		}
	}
}

.select-currency {
	overflow:hidden;
	border: solid 1px #c4cdd5;
	border-radius: 3px;
	select.form-control {
		width: 80px;
		border-radius: 3px 0 0 3px;
		background-color: #dfe4e8;
		box-shadow: 0 1px 0 0 rgba(22, 29, 37, 0.05);
		border-right: solid 1px #c4cdd5;
		float:left;
	}
	input.form-control {
		border-radius:0;
		border:none;
		box-shadow:none;
		
		&.disabled {
			background-color:#f9fafb;
			pointer-events: none;
		}
	}
}